<template>
  <div class="flex justify-center">
    <detail-cards :order="order" />
  </div>
  <div class="mt-6">
    <product-table
      :order="order"
      :price="true"
      :quantity="true"
      :total="true"
    />
  </div>
  <div class="mt-6">
    <log-order :order="order" />
  </div>
  <div class="mt-5">
    <el-button size="small" type="danger" plain @click="$router.back"
      >Kembali</el-button
    >
  </div>
</template>

<script>
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";
import useOrders from "@/composeable/orders";
import DetailCards from "@/components/DetailCards.vue";
import ProductTable from "@/components/ProductTable.vue";
import LogOrder from "@/components/LogOrder.vue";
export default {
  components: { DetailCards, ProductTable, LogOrder },
  setup() {
    const { order, getOrder } = useOrders();
    const route = useRoute();

    onMounted(() => {
      getOrder(route.params.id);
    });

    return {
      order,
    };
  },
};
</script>

<style></style>
