<template>
  <orders-table
    :data="orders"
    title="Daftar Pesanan"
    :buyer="false"
    :status="true"
  />
</template>

<script setup>
import { onMounted } from "vue-demi";
import useOrders from "@/composeable/orders";
import OrdersTable from "@/components/OrdersTable.vue";

const { orders, getOrders } = useOrders();

onMounted(getOrders);
</script>

<style></style>
