<template>
  <Form
    :model="statusForm"
    title="Tambah Status"
    :loading="loading"
    :rules="rules"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama Status" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
    <el-form-item label="Kode Status" prop="kode_status">
      <el-input v-model.number="kode_status" clearable />
    </el-form-item>
    <el-form-item label="Keterangan" prop="keterangan">
      <el-input v-model="keterangan" clearable />
    </el-form-item>
    <el-form-item label="Tampilkan ?">
      <el-select class="w-full" v-model="is_show">
        <el-option label="Ya" :value="1" />
        <el-option label="Tidak" :value="0" />
      </el-select>
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import useStatuses from "@/composeable/statuses";
import useCookies from "@/composeable/cookies";
import { reactive, toRefs } from "vue-demi";

const { loading, storeStatus } = useStatuses();
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");

const statusForm = reactive({
  id_user: session.id,
  nama: "",
  keterangan: "",
  is_show: 0,
  kode_status: null,
});
const { nama, keterangan, is_show, kode_status } = toRefs(statusForm);
const rules = {
  nama: [
    {
      required: true,
      message: "Nama status harus diisi",
      trigger: "blur",
    },
  ],
  kode_status: [
    {
      required: true,
      message: "Kode status harus diisi",
      trigger: "blur",
    },
    {
      type: "number",
      message: "Kode status harus berupa angka",
      trigger: "blur",
    },
  ],
  keterangan: [
    {
      required: true,
      message: "Keterangan harus diisi",
      trigger: "blur",
    },
  ],
};

const handleSubmit = () => {
  storeStatus(statusForm);
};
</script>
