<template>
  <master-details
    :data="status"
    title="Details Status"
    :loading="loading"
    @delete="destroyStatus(id)"
  >
    <master-details-item title="nama" :value="status.nama" />
    <master-details-item title="kode status" :value="status.kode_status" />
    <master-details-item title="keterangan" :value="status.keterangan" />
  </master-details>
</template>

<script setup>
import useStatuses from "@/composeable/statuses";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const { status, loading, getStatus, destroyStatus } = useStatuses();
const route = useRoute();
const { id } = route.params;

onMounted(getStatus(id));
</script>
