<template>
  <master-table :data="statuses" title="Master Status">
    <el-table-column prop="nama" label="Nama" />
    <el-table-column prop="kode_status" label="Kode Status" />
    <el-table-column prop="keterangan" label="Keterangan" />
  </master-table>
</template>

<script setup>
import MasterTable from "@/components/MasterTable.vue";
import useStatuses from "@/composeable/statuses";
import { onMounted } from "vue-demi";

const { statuses, getStatuses } = useStatuses();

onMounted(getStatuses);
</script>
