<template>
  <div class="bg-white p-6 rounded shadow">
    <h2 class="font-semibold text-xl">Form Barang Masuk</h2>
    <el-form
      ref="inventoryForm"
      class="inventory__form mt-6"
      :model="inventoryFormModel"
      :rules="rules"
      size="small"
      label-width="120px"
      label-position="left"
    >
      <el-form-item label="Tanggal" prop="tanggal_penyimpanan">
        <el-date-picker class="w-full" v-model="tanggal_penyimpanan" />
      </el-form-item>
      <el-form-item label="Judul" prop="judul">
        <el-input v-model="judul" />
      </el-form-item>
      <el-form-item label="Keterangan" prop="keterangan">
        <el-input v-model="keterangan" />
      </el-form-item>

      <hr />
      <h3 class="font-semibold mt-2">Daftar Produk</h3>
      <div
        v-for="(produk, index) in list_produk"
        :key="index"
        class="mt-3 flex space-x-3"
      >
        <div class="flex-grow">
          <el-select
            v-model="produk.id_produk"
            class="w-full"
            placeholder="Pilih Produk"
          >
            <el-option
              v-for="product in products"
              :key="product.id"
              :label="product.nama"
              :value="product.id"
            />
          </el-select>
        </div>
        <div>
          <el-input-number
            class="w-24"
            v-model="produk.jumlah"
            placeholder="Jumlah"
            :controls="false"
          />
        </div>
        <div>
          <el-input v-model="produk.keterangan" placeholder="Keterangan" />
        </div>
      </div>
      <el-button
        class="mt-3"
        type="primary"
        size="mini"
        icon="el-icon-plus"
        plain
        @click="addField"
      />
      <el-button
        v-if="list_produk.length > 1"
        class="mt-3"
        type="danger"
        size="mini"
        icon="el-icon-minus"
        plain
        @click="removeField"
      />
    </el-form>
  </div>
  <div class="mt-5 flex justify-between">
    <el-button type="danger" size="small" plain @click="$router.back">
      Kembali
    </el-button>
    <el-button type="primary" size="small" :loading="loading" @click="submit"
      >Simpan</el-button
    >
  </div>
</template>

<script setup>
import { onMounted, reactive, ref, toRefs } from "vue-demi";
import useProducts from "@/composeable/products";
import { ElMessage } from "element-plus";
import useInventories from "@/composeable/inventory";

const { products, getProducts } = useProducts();
const { loading, storeInventory } = useInventories();

onMounted(() => {
  getProducts();
});

const inventoryForm = ref(null);

const rules = {
  tanggal_penyimpanan: [
    {
      required: true,
      message: "Tanggal penyimpanan harus diisi.",
      trigger: "blur",
    },
  ],
  judul: [
    {
      required: true,
      message: "Judul harus diisi.",
      trigger: "blur",
    },
  ],
};

const inventoryFormModel = reactive({
  judul: "",
  keterangan: "",
  tanggal_penyimpanan: "",
  list_produk: [
    {
      id_produk: null,
      jumlah: null,
      keterangan: null,
    },
  ],
});
const { judul, keterangan, tanggal_penyimpanan, list_produk } =
  toRefs(inventoryFormModel);

const addField = () => {
  list_produk.value.push({
    id_produk: null,
    jumlah: null,
    keterangan: null,
  });
};

const removeField = () => {
  list_produk.value.pop();
};

const submit = () => {
  const isFilled = (p) => p.id_produk !== null;

  inventoryForm.value.validate((valid) => {
    if (valid && list_produk.value.every(isFilled)) {
      storeInventory(inventoryFormModel);
    } else if (!list_produk.value.every(isFilled)) {
      ElMessage({
        type: "warning",
        message: "Harap pilih produk terlebih dahulu",
      });
    } else {
      return false;
    }
  });
};
</script>

<style lang="scss">
.el-form {
  &.inventory__form {
    .el-date-editor {
      --el-date-editor-width: 100%;
    }
  }
}
</style>
