<template>
  <div class="bg-white shadow rounded p-5 pt-2 w-2/3 m-auto text-sm">
    <h2 class="mt-3 font-semibold text-base">Detail</h2>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">No. Dokumen</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ inventory.no_dokumen }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Tanggal Penyimpanan</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ inventory.tanggal_penyimpanan }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Judul</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ inventory.judul }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Keterangan</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ inventory.keterangan }}
      </el-col>
    </el-row>
  </div>
  <h2 class="mt-3 font-semibold">Data Produk</h2>
  <el-table class="mt-2 shadow" :data="inventory.penyimpanan_detail">
    <el-table-column type="index" label="No" align="center" />
    <el-table-column prop="produk.nama" label="Produk" />
    <el-table-column prop="jumlah" label="Qty" align="center" width="100px" />
    <el-table-column
      prop="produk.satuan_produk.nama"
      label="UOM"
      align="center"
      width="100px"
    >
      Unit
    </el-table-column>
  </el-table>
  <div class="mt-5 flex justify-between">
    <el-button type="danger" size="mini" @click="$router.back" plain>
      Kembali
    </el-button>
    <div v-if="idRole == 4 || idRole == 3">
      <el-popconfirm
        icon-color="red"
        title="Apakah anda yakin ingin menghapus data ini?"
        cancel-button-text="Batal"
        confirm-button-text="YA"
        icon="el-icon-info"
        @confirm="deleteInventory"
      >
        <template #reference>
          <el-button type="danger" size="mini" :loading="loading">
            Hapus
          </el-button>
        </template>
      </el-popconfirm>
      <el-button type="primary" size="mini" @click="toEdit">Edit</el-button>
    </div>
  </div>
</template>

<script setup>
import useInventories from "@/composeable/inventory";
import { onMounted } from "vue-demi";
import { useRoute, useRouter } from "vue-router";
import useCookies from "@/composeable/cookies";

const { getDecodedCookie } = useCookies();
const { inventory, loading, getInventory, destroyInventory } = useInventories();
const router = useRouter();
const route = useRoute();
const { id } = route.params;

const session = getDecodedCookie("session");
const idRole = session.id_role;

onMounted(() => getInventory(id));

const deleteInventory = () => {
  destroyInventory(id);
};

const toEdit = () => {
  router.push({ name: "Barang Masuk Edit", params: { id } });
};
</script>

<style></style>
