<template>
  <div class="bg-white p-6 rounded shadow">
    <h2 class="font-semibold text-xl">Form Barang Masuk</h2>
    <el-form
      ref="inventoryForm"
      class="inventory__form mt-6"
      :model="inventoryFormModel"
      :rules="rules"
      size="small"
      label-width="120px"
      label-position="left"
    >
      <el-form-item label="Tanggal" prop="tanggal_penyimpanan">
        <el-date-picker class="w-full" v-model="tanggal_penyimpanan" />
      </el-form-item>
      <el-form-item label="Judul" prop="judul">
        <el-input v-model="judul" />
      </el-form-item>
      <el-form-item label="Keterangan" prop="keterangan">
        <el-input v-model="keterangan" />
      </el-form-item>

      <hr />
      <h3 class="font-semibold mt-2">Daftar Produk</h3>
      <div
        v-for="(produk, index) in list_produk"
        :key="index"
        class="mt-3 flex space-x-3"
      >
        <div class="flex-grow">
          <el-input v-model="produk.produk.nama" readonly />
        </div>
        <div>
          <el-input-number
            class="w-24"
            v-model="produk.jumlah"
            placeholder="Jumlah"
            :controls="false"
          />
        </div>
        <div>
          <el-input v-model="produk.keterangan" placeholder="Keterangan" />
        </div>
      </div>
    </el-form>
  </div>
  <div class="mt-5 flex justify-between">
    <el-button type="danger" size="small" @click="$router.back">
      Kembali
    </el-button>
    <el-button type="primary" size="small" :loading="loading" @click="save">
      Simpan
    </el-button>
  </div>
</template>

<script setup>
import { computed, onMounted, reactive, ref, toRefs, watch } from "vue-demi";
import useProducts from "@/composeable/products";
import { ElMessage } from "element-plus";
import useInventories from "@/composeable/inventory";
import { useRoute } from "vue-router";

const { inventory, loading, getInventory, updateInventory } = useInventories();
const route = useRoute();
const { id } = route.params;

onMounted(() => {
  getInventory(id);
});

watch(inventory, () => {
  judul.value = inventory.value.judul;
  keterangan.value = inventory.value.keterangan;
  tanggal_penyimpanan.value = inventory.value.tanggal_penyimpanan;
  list_produk.value = inventory.value.penyimpanan_detail;
});

const inventoryForm = ref(null);
const inventoryFormModel = reactive({
  judul: "",
  keterangan: "",
  tanggal_penyimpanan: "",
  list_produk: [],
});
const { judul, keterangan, tanggal_penyimpanan, list_produk } =
  toRefs(inventoryFormModel);
const rules = {
  tanggal_penyimpanan: [
    {
      required: true,
      message: "Tanggal penyimpanan harus diisi.",
      trigger: "blur",
    },
  ],
  judul: [
    {
      required: true,
      message: "Judul harus diisi.",
      trigger: "blur",
    },
  ],
};

const save = () => {
  inventoryForm.value.validate((valid) => {
    if (valid) {
      updateInventory(id, inventoryFormModel);
    } else {
      return false;
    }
  });
};
</script>

<style lang="scss">
.el-form {
  &.inventory__form {
    .el-date-editor {
      --el-date-editor-width: 100%;
    }
  }
}
</style>
