<template>
  <Form
    :model="serviceForm"
    title="Tambah Jasa Pengiriman"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama Jasa" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
    <el-form-item label="Keterangan">
      <el-input v-model="keterangan" clearable />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import { reactive, ref, toRefs } from "vue-demi";
import useServices from "@/composeable/services";
import useCookies from "@/composeable/cookies";

const { loading, storeService } = useServices();
const { getDecodedCookie } = useCookies();

const session = getDecodedCookie("session");

const serviceForm = reactive({
  id_user: session.id,
  nama: "",
  keterangan: "",
});
const { nama, keterangan } = toRefs(serviceForm);
const rules = {
  nama: [
    {
      required: true,
      message: "Nama harus diisi",
      trigger: "blur",
    },
  ],
};

const handleSubmit = () => {
  storeService(serviceForm);
};
</script>
