<template>
  <master-details
    :data="service"
    title="Detail Metode Pembayaran"
    :loading="loading"
    @delete="destroyService(id)"
  >
    <master-details-item title="nama" :value="service.nama" />
    <master-details-item title="keterangan" :value="service.keterangan" />
  </master-details>
</template>

<script setup>
import useServices from "@/composeable/services";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const { service, loading, getService, destroyService } = useServices();
const route = useRoute();
const { id } = route.params;

onMounted(getService(id));
</script>
