<template>
  <Form
    :model="serviceForm"
    title="Edit Jasa Pengiriman"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama Jasa" prop="nama">
      <el-input v-model="nama" />
    </el-form-item>
    <el-form-item label="Keterangan">
      <el-input v-model="keterangan" />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import useServices from "@/composeable/services";
import useCookies from "@/composeable/cookies";
import { onMounted, reactive, watch, toRefs } from "vue-demi";
import { useRoute } from "vue-router";

const { service, loading, getService, updateService } = useServices();
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const route = useRoute();
const { id } = route.params;

onMounted(getService(id));

const serviceForm = reactive({
  id_user: session.id,
  nama: "",
  keterangan: "",
});
const { nama, keterangan } = toRefs(serviceForm);
const rules = {
  nama: [
    {
      required: true,
      message: "Nama harus diisi",
      trigger: "blur",
    },
  ],
};

watch(service, (to, from) => {
  nama.value = to.nama;
});

const handleSubmit = () => {
  updateService(id, serviceForm);
};
</script>

<style></style>
