<template>
  <master-table :data="services" title="Master Jasa Pengiriman">
    <el-table-column prop="nama" label="Nama" />
    <el-table-column prop="keterangan" label="Keterangan" />
  </master-table>
</template>

<script setup>
import useServices from "@/composeable/services";
import { onMounted } from "vue-demi";

const { services, getServices } = useServices();

onMounted(getServices);
</script>

<style></style>
