<template>
  <Form
    :model="bankForm"
    :rules="rules"
    :loading="loading"
    title="Tambah Bank"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama" prop="nama">
      <el-input v-model="nama" />
    </el-form-item>
    <el-form-item label="Keterangan" prop="keterangan">
      <el-input v-model="keterangan" />
    </el-form-item>
    <el-form-item label="Gambar" prop="gambar">
      <el-upload
        ref="bankUpload"
        action="#"
        list-type="picture-card"
        :auto-upload="false"
        :on-change="handleChange"
        :on-remove="handleRemove"
        :limit="1"
        :on-exceed="exceededUpload"
      >
        <el-icon>
          <plus />
        </el-icon>
      </el-upload>
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";

import { Plus } from "@element-plus/icons";
import { computed, reactive, ref, toRefs, watch } from "vue-demi";
import useCookies from "@/composeable/cookies";
import useBanks from "@/composeable/banks";
import useErrors from "@/composeable/errors";

const { getDecodedCookie } = useCookies();
const { loading, storeBank } = useBanks();
const { invalidFileFormat, exceededUpload } = useErrors();

const session = getDecodedCookie("session");

const bankForm = reactive({
  id_user: session.id,
  nama: "",
  keterangan: "",
  gambar: "",
});
const { nama, keterangan, gambar } = toRefs(bankForm);
const rules = {
  nama: [
    {
      required: true,
      message: "Nama bank harus diisi",
      trigger: "blur",
    },
  ],
  gambar: [
    {
      required: true,
      message: "Gambar bank harus diisi",
      trigger: "blur",
    },
  ],
};

const acceptFiles = ["image/png", "image/jpg", "image/jpeg"];

const handleChange = (file, list) => {
  if (acceptFiles.includes(file.raw.type)) {
    gambar.value = file.raw;
  } else {
    list.pop();
    invalidFileFormat();
  }
};

const handleRemove = (file, list) => {
  gambar.value = "";
};

const handleSubmit = () => {
  const fd = new FormData();

  for (const key in bankForm) {
    fd.append(key, bankForm[key]);
  }

  storeBank(fd);
};
</script>
