<template>
  <master-details
    :data="bank"
    title="Detail Bank"
    :show-picture="true"
    :picture-source="bank.gambar_url"
    :loading="loading"
    @delete="destroyBank(id)"
  >
    <master-details-item title="Nama" :value="bank.nama" />
    <master-details-item title="Keterangan" :value="bank.keterangan" />
  </master-details>
</template>

<script setup>
import useBanks from "@/composeable/banks";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const { bank, loading, getBank, destroyBank } = useBanks();
const route = useRoute();
const { id } = route.params;

onMounted(getBank(id));
</script>
