<template>
  <Form
    :model="bankForm"
    :rules="rules"
    :loading="loading"
    title="Tambah Bank"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama" prop="nama">
      <el-input v-model="nama" />
    </el-form-item>
    <el-form-item label="Keterangan" prop="keterangan">
      <el-input v-model="keterangan" />
    </el-form-item>
    <el-form-item label="Gambar">
      <el-upload
        ref="bankUpload"
        action="#"
        list-type="picture-card"
        :file-list="fileList"
        :auto-upload="false"
        :on-change="handleChange"
        :on-remove="handleRemove"
        :limit="1"
        :on-exceed="exceededUpload"
      >
        <el-icon>
          <plus />
        </el-icon>
      </el-upload>
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";

import { Plus } from "@element-plus/icons";
import { computed, onMounted, reactive, ref, toRefs, watch } from "vue-demi";
import useCookies from "@/composeable/cookies";
import useBanks from "@/composeable/banks";
import useErrors from "@/composeable/errors";
import { useRoute } from "vue-router";

const { getDecodedCookie } = useCookies();
const { bank, loading, getBank, updateBank } = useBanks();
const { invalidFileFormat, exceededUpload } = useErrors();
const route = useRoute();
const { id } = route.params;

const session = getDecodedCookie("session");

onMounted(getBank(id));

const bankForm = reactive({
  id_user: session.id,
  nama: "",
  keterangan: undefined,
  gambar: undefined,
});
const { nama, keterangan, gambar } = toRefs(bankForm);
const rules = {
  nama: [
    {
      required: true,
      message: "Nama bank harus diisi",
      trigger: "blur",
    },
  ],
};

const acceptFiles = ["image/png", "image/jpg", "image/jpeg"];
const fileList = reactive([]);

watch(bank, (to) => {
  nama.value = to.nama;
  keterangan.value = to.keterangan;
  fileList.push({
    name: to.gambar,
    url: to.gambar_url,
  });
});

const handleChange = (file, list) => {
  if (acceptFiles.includes(file.raw.type)) {
    gambar.value = file.raw;
  } else {
    list.pop();
    invalidFileFormat();
  }
};

const handleRemove = (file, list) => {
  gambar.value = "";
};

const handleSubmit = () => {
  const fd = new FormData();

  for (const key in bankForm) {
    if (!bankForm[key]) {
      delete bankForm[key];
    }
  }

  for (const key in bankForm) {
    fd.append(key, bankForm[key]);
  }

  updateBank(id, fd);
};
</script>
