<template>
  <master-table :data="banks" title="Master Bank">
    <el-table-column label="Nama" prop="nama" />
    <el-table-column label="Keterangan" prop="keterangan" />
  </master-table>
</template>

<script setup>
import useBanks from "@/composeable/banks";
import { onMounted } from "vue-demi";

const { banks, getBanks } = useBanks();

onMounted(getBanks);
</script>

<style></style>
