<template>
  <Form
    :model="categoryForm"
    title="Tambah Kategori"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama Kategori" prop="nama">
      <el-input v-model="nama" />
    </el-form-item>
    <el-form-item label="Deskripsi Kategori" prop="deskpripsi">
      <el-input v-model="deskripsi" type="textarea" />
    </el-form-item>
    <el-form-item label="Gambar" required>
      <el-upload
        ref="bankUpload"
        action="#"
        list-type="picture-card"
        :auto-upload="false"
        :on-change="handleChange"
        :on-remove="handleRemove"
        :limit="1"
        :on-exceed="exceededUpload"
      >
        <el-icon>
          <plus />
        </el-icon>
      </el-upload>
    </el-form-item>
  </Form>
</template>

<script setup>
import { Plus } from "@element-plus/icons";
import Form from "@/components/Form.vue";
import { reactive, ref, toRefs } from "vue-demi";
import useCookies from "@/composeable/cookies";
import useCategories from "@/composeable/categories";
import useErrors from "@/composeable/errors";

const { loading, storeCategories } = useCategories();
const { getDecodedCookie } = useCookies();
const { invalidFileFormat, exceededUpload } = useErrors();

const session = getDecodedCookie("session");

const categoryForm = reactive({
  id_user: session.id,
  nama: "",
  deskripsi: "",
});
const { nama, deskripsi } = toRefs(categoryForm);

const rules = {
  nama: [
    {
      required: true,
      message: "Nama kategori harus diisi",
      trigger: "blur",
    },
  ],
};

const gambar = ref("");
const acceptFiles = ["image/png", "image/jpg", "image/jpeg"];

const handleChange = (file, list) => {
  if (acceptFiles.includes(file.raw.type)) {
    gambar.value = file.raw;
  } else {
    list.pop();
    invalidFileFormat();
  }
};

const handleRemove = (file, list) => {
  gambar.value = "";
};

const handleSubmit = () => {
  const fd = new FormData();
  fd.append("gambar", gambar.value);
  storeCategories(categoryForm, fd);
};
</script>
