<template>
  <master-details
    :data="category"
    title="Detail Kategori"
    :show-picture="true"
    :picture-source="category.gambar_url"
    :loading="loading"
    @delete="destroyCategory(id)"
  >
    <master-details-item title="nama" :value="category.nama" />
    <master-details-item title="deskripsi" :value="category.eskripsi" />
  </master-details>
</template>

<script setup>
import MasterDetails from "@/components/MasterDetails.vue";
import MasterDetailsItem from "@/components/MasterDetailsItem.vue";
import useCategories from "@/composeable/categories";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const route = useRoute();
const { id } = route.params;
const { category, loading, getCategory, destroyCategory } = useCategories();

onMounted(getCategory(id));
</script>
