<template>
  <MasterTable :data="categories" title="Master Kategori">
    <el-table-column prop="nama" label="Nama" />
    <el-table-column prop="deskripsi" label="Deskripsi" />
  </MasterTable>
</template>

<script setup>
import MasterTable from "@/components/MasterTable.vue";
import useCategories from "@/composeable/categories";
import { onMounted } from "vue-demi";

const { categories, getCategories } = useCategories();

onMounted(() => {
  getCategories();
});
</script>

<style></style>
