<template>
  <Form
    :model="unitForm"
    title="Tambah Satuan Produk"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama Satuan" prop="nama">
      <el-input v-model="nama" />
    </el-form-item>
    <el-form-item label="Deskripsi Satuan" prop="deskpripsi">
      <el-input v-model="deskripsi" type="textarea" /> </el-form-item
  ></Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import { computed, reactive, toRefs } from "vue-demi";
import useCookies from "@/composeable/cookies";
import useUnits from "@/composeable/units";

const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const { loading, storeUnit } = useUnits();

const unitForm = reactive({
  id_user: session.id,
  nama: "",
  deskripsi: "",
});
const { nama, deskripsi } = toRefs(unitForm);

const rules = {
  nama: [
    {
      required: true,
      message: "Nama satuan produk harus diisi",
      trigger: "blur",
    },
  ],
};

const handleSubmit = () => {
  storeUnit(unitForm);
};
</script>

<style></style>
