<template>
  <master-details
    :data="unit"
    title="Detail Satuan Produk"
    :loading="loading"
    @delete="destroyUnit(id)"
  >
    <master-details-item title="nama" :value="unit.nama" />
    <master-details-item title="deskripsi" :value="unit.deskripsi" />
  </master-details>
</template>

<script setup>
import useUnits from "@/composeable/units";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const { unit, loading, getUnit, destroyUnit } = useUnits();
const route = useRoute();
const { id } = route.params;

onMounted(getUnit(id));
</script>

<style></style>
