<template>
  <Form
    :model="unitForm"
    title="Edit Satuan Produk"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama Satuan" prop="nama">
      <el-input v-model="nama" />
    </el-form-item>
    <el-form-item label="Deskripsi Satuan" prop="deskpripsi">
      <el-input v-model="deskripsi" type="textarea" /> </el-form-item
  ></Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import { computed, onMounted, reactive, toRefs, watch } from "vue-demi";
import useCookies from "@/composeable/cookies";
import useUnits from "@/composeable/units";
import { useRoute } from "vue-router";

const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const { unit, loading, getUnit, updateUnit } = useUnits();
const route = useRoute();
const { id } = route.params;

onMounted(getUnit(id));

const unitForm = reactive({
  id_user: session.id,
  nama: "",
  deskripsi: "",
});
const { nama, deskripsi } = toRefs(unitForm);

const rules = {
  nama: [
    {
      required: true,
      message: "Nama satuan produk harus diisi",
      trigger: "blur",
    },
  ],
};

watch(unit, (to) => {
  nama.value = to.nama;
  deskripsi.value = to.deskripsi;
});

const handleSubmit = () => {
  updateUnit(id, unitForm);
};
</script>

<style></style>
