<template>
  <master-table :data="units" title="Master Satuan">
    <el-table-column prop="nama" label="Nama" />
    <el-table-column prop="deskripsi" label="Deskripsi" />
  </master-table>
</template>

<script setup>
import useUnits from "@/composeable/units";
import MasterTable from "@/components/MasterTable.vue";
import { onMounted } from "vue-demi";

const { units, getUnits } = useUnits();

onMounted(getUnits);
</script>
