<template>
  <div class="flex justify-center">
    <detail-cards :order="order" />
  </div>
  <div class="mt-6">
    <product-table
      :order="order"
      :quantity="true"
      :price="true"
      :total="true"
    />
  </div>
  <div class="mt-6">
    <log-order :order="order" />
  </div>
  <div class="mt-5 flex justify-between items-start">
    <el-button size="small" type="danger" plain @click="$router.back">
      Kembali
    </el-button>
    <div v-if="idRole == 4 || idRole == 2">
      <div v-if="order.reseller?.rekening.length > 0">
        <el-button
          size="small"
          type="warning"
          plain
          v-if="images.length"
          @click="previewImg"
        >
          Lihat Foto
        </el-button>
        <el-button size="small" type="warning" @click="toggleRefund">
          Pilih Foto
        </el-button>
        <el-button
          size="small"
          type="primary"
          @click="confirm"
          :loading="loading"
        >
          Konfirmasi Refund
        </el-button>
      </div>
      <div v-else class="text-right">
        <p class="text-sm font-semibold italic">
          Tidak bisa melakan refund,<br />
          ingatkan reseller untuk segera mengisi nomor rekening.
        </p>
      </div>
    </div>
  </div>

  <el-dialog
    :model-value="refundDialog"
    @close="closeRefund"
    width="38%"
    title="Pilih Foto Bukti Refund  "
    center
  >
    <div>
      <el-upload
        ref="uploadRefundRef"
        action="#"
        list-type="picture-card"
        :auto-upload="false"
        :on-change="handleChange"
        :on-preview="handlePreview"
        :on-remove="handleRemove"
        :limit="1"
        :on-exceed="handleExceed"
        :http-request="sendRefund"
      >
        <el-icon><plus /></el-icon>
      </el-upload>
    </div>
    <div class="mt-4 flex justify-between">
      <el-button size="mini" type="danger" plain @click="closeRefund">
        Tutup
      </el-button>
    </div>
  </el-dialog>
</template>

<script setup>
import { onMounted, ref } from "vue-demi";
import DetailCards from "@/components/DetailCards.vue";
import useOrders from "@/composeable/orders";
import { useRoute, useRouter } from "vue-router";
import ProductTable from "@/components/ProductTable.vue";
import LogOrder from "@/components/LogOrder.vue";
import { Plus } from "@element-plus/icons";
import imagePreview from "image-preview-vue";
import { ElMessage } from "element-plus";
import getUrl from "@/composeable/getUrl";
import useCookies from "@/composeable/cookies";
const { order, getOrder, uploadRefund } = useOrders();
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const token = session.access_token;
const idRole = session.id_role;
const route = useRoute();
const router = useRouter();
const refundDialog = ref(false);
const uploadRefundRef = ref(null);
const images = ref([]);
const fileList = ref([]);
const { id } = route.params;
const { urlUploadRefund } = getUrl(id);
const loading = ref(false);
const headers = {
  Authorization: `Bearer ${token}`,
  "x-user-status": "office",
};
const data = {
  bukti_refund: "",
};

onMounted(() => getOrder(id));

const toggleRefund = () => {
  refundDialog.value = true;
};

const closeRefund = () => {
  refundDialog.value = false;
  images.value = fileList.value.map((f) => {
    return URL.createObjectURL(f.raw);
  });
};

const handleChange = (file, list) => {
  fileList.value = list;
};

const handleRemove = (file, list) => {
  fileList.value = list;
};

const handlePreview = (file) => {
  refundDialog.value = false;
  imagePreview({
    initIndex: 0,
    images: [URL.createObjectURL(file.raw)],
    onClose: () => (refundDialog.value = true),
  });
};

const handleExceed = () => {
  ElMessage({
    message: "File tidak boleh lebih dari 1",
    type: "warning",
  });
};

const handleSuccess = () => {
  ElMessage({
    type: "success",
    message: "Berhaasil mengirim bukti refund",
  });
  loading.value = false;
  router.push({ name: "Return" });
};

const previewImg = () => {
  imagePreview({
    initIndex: 0,
    images: images.value,
    onClose: () => {},
  });
};

const confirm = () => {
  if (images.value.length !== 0) {
    uploadRefundRef.value.submit();
  } else {
    ElMessage({
      type: "warning",
      message: "Harap pilih foto bukti refund terlebih dahulu",
    });
  }
};

const sendRefund = (req) => {
  const fd = new FormData();
  fd.append("bukti_refund", req.file);

  uploadRefund(id, fd);
};
</script>

<style lang="scss"></style>
