<template>
  <orders-table
    :data="orders"
    title="Pengembalian"
    :date="false"
    :service="false"
    :price="false"
    :bank="true"
  />
</template>

<script setup>
import { computed, onMounted, ref } from "vue-demi";
import useOrders from "@/composeable/orders";
import OrdersTable from "@/components/OrdersTable.vue";
const { orders, getOrders } = useOrders();

onMounted(() => getOrders(50));
</script>

<style></style>
