<template>
  <div class="flex justify-center">
    <detail-cards :order="order" />
  </div>
  <div class="mt-6">
    <product-table :order="order" :quantity="true" />
  </div>
  <div class="mt-6">
    <log-order :order="order" />
  </div>
  <div class="mt-5 flex justify-between">
    <el-button size="small" type="danger" plain @click="$router.back">
      Kembali
    </el-button>
    <el-button
      v-if="idRole == 4 || idRole == 3"
      size="small"
      type="primary"
      @click="confirm"
      >Kirim</el-button
    >
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue-demi";
import { useRoute } from "vue-router";
import useOrders from "@/composeable/orders";
import DetailCards from "@/components/DetailCards.vue";
import ProductTable from "@/components/ProductTable.vue";
import LogOrder from "@/components/LogOrder.vue";
import useCookies from "@/composeable/cookies";

const { order, getOrder, updateStatus } = useOrders();
const route = useRoute();
const { id } = route.params;
const { getDecodedCookie } = useCookies();

const session = getDecodedCookie("session");
const idRole = session.id_role;

onMounted(() => {
  getOrder(route.params.id);
});

const confirm = () => {
  const payload = {
    kode_status: 32,
  };
  updateStatus(id, payload, "Pesanan akan dikirim");
};
</script>

<style></style>
