<template>
  <orders-table
    :data="orders"
    type="delivery"
    title="Pengiriman"
    :price="false"
    :selection="true"
  />
</template>

<script setup>
import { onMounted } from "vue-demi";
import useOrders from "@/composeable/orders";
import { useRouter } from "vue-router";
import OrdersTable from "@/components/OrdersTable.vue";

const { orders, getOrders } = useOrders();

onMounted(() => getOrders(31));
</script>

<style></style>
