<template>
  <Form
    :model="roleForm"
    title="Tambah Role"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
    <el-form-item label="Keterangan">
      <el-input v-model="keterangan" clearable />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import useRoles from "@/composeable/roles";
import useCookies from "@/composeable/cookies";
import { reactive, toRefs } from "vue-demi";

const { loading, storeRole } = useRoles();
const { getDecodedCookie } = useCookies();

const session = getDecodedCookie("session");

const roleForm = reactive({
  id_user: session.id,
  nama: "",
  keterangan: "",
});
const { nama, keterangan } = toRefs(roleForm);
const rules = {
  nama: [
    {
      required: true,
      message: "Nama role harus diisi",
      trigger: "blur",
    },
  ],
};

const handleSubmit = () => {
  storeRole(roleForm);
};
</script>
