<template>
  <master-details
    :data="role"
    title="Detail User"
    :loading="loading"
    @delete="destroyRole(id)"
  >
    <master-details-item title="nama" :value="role.nama" />
    <master-details-item title="keterangan" :value="role.keterangan" />
  </master-details>
</template>

<script setup>
import useRoles from "@/composeable/roles";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const { role, loading, getRole, destroyRole } = useRoles();
const route = useRoute();
const { id } = route.params;

onMounted(getRole(id));
</script>
