<template>
  <Form
    :model="roleForm"
    title="Edit Role"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
    <el-form-item label="Keterangan">
      <el-input v-model="keterangan" clearable />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import useRoles from "@/composeable/roles";
import useCookies from "@/composeable/cookies";
import { onMounted, reactive, toRefs, watch } from "vue-demi";
import { useRoute } from "vue-router";

const { role, loading, getRole, updateRole } = useRoles();
const { getDecodedCookie } = useCookies();
const route = useRoute();
const { id } = route.params;

const session = getDecodedCookie("session");

onMounted(getRole(id));

const roleForm = reactive({
  id_user: session.id,
  nama: "",
  keterangan: "",
});
const { nama, keterangan } = toRefs(roleForm);
const rules = {
  nama: [
    {
      required: true,
      message: "Nama role harus diisi",
      trigger: "blur",
    },
  ],
};

watch(role, (to) => {
  nama.value = to.nama;
  keterangan.value = to.keterangan;
});

const handleSubmit = () => {
  updateRole(id, roleForm);
};
</script>
