<template>
  <master-table :data="roles" title="Master Role">
    <el-table-column prop="nama" label="Nama" />
    <el-table-column prop="keterangan" label="Keterangan" />
  </master-table>
</template>

<script setup>
import useRoles from "@/composeable/roles";
import { onMounted } from "vue-demi";

const { roles, getRoles } = useRoles();

onMounted(getRoles);
</script>
