<template>
  <div class="bg-white shadow rounded p-5">
    <h2 class="text-xl font-semibold">Form Opname</h2>
    <el-form
      ref="opnameForm"
      :model="opnameFormModel"
      :rules="rules"
      class="form__opname mt-3"
      label-position="left"
      label-width="150px"
      size="small"
    >
      <el-form-item label="Judul Opname" prop="judul">
        <el-input v-model="judul" />
      </el-form-item>
      <el-form-item label="Tanggal Opname" prop="tanggal_opname">
        <el-date-picker v-model="tanggal_opname" />
      </el-form-item>
      <el-form-item label="Keterangan" prop="keterangan">
        <el-input v-model="keterangan" />
      </el-form-item>
      <hr />

      <h3 class="mt-3 text-lg font-semibold">Daftar Produk</h3>
      <div class="mt-2 flex space-x-6 font-semibold text-center">
        <p class="flex-grow text-left">Nama Produk</p>
        <p class="w-[100px]">Jumlah DB</p>
        <p class="w-[100px]">Jumlah Ril</p>
      </div>
      <div class="mt-1 flex flex-col space-y-4">
        <div
          v-for="produk in list"
          :key="produk.id_produk"
          class="flex space-x-3"
        >
          <el-input v-model="produk.nama" readonly />

          <el-input
            class="form_number"
            v-model="produk.jumlah_db"
            placeholder="Jumlah DB"
            readonly
          />

          <el-input-number
            class="w-36"
            v-model="produk.jumlah_ril"
            placeholder="Jumlah Ril"
            :controls="false"
          />
        </div>
      </div>
    </el-form>
  </div>
  <div class="mt-3 flex justify-between">
    <el-button size="small" type="danger" plain @click="$router.back">
      Kembali
    </el-button>
    <el-button size="small" type="primary" :loading="loading" @click="submit">
      Simpan
    </el-button>
  </div>
</template>

<script setup>
import useProducts from "@/composeable/products";
import useOpname from "@/composeable/opname";
import { computed, onMounted, reactive, ref, toRefs } from "vue-demi";

const { products, getProducts } = useProducts();
const { storeOpname, loading } = useOpname();

onMounted(() => {
  getProducts();
});

const list = computed(() => {
  return products.value?.map((p) => {
    return {
      nama: p.nama,
      jumlah_db: parseInt(p.stok_tersedia),
      id_produk: p.id,
      jumlah_ril: 0,
      keterangan: "",
    };
  });
});

const opnameForm = ref(null);
const opnameFormModel = reactive({
  judul: "",
  tanggal_opname: "",
  keterangan: "",
  list_produk: [],
});
const { judul, tanggal_opname, keterangan, list_produk } =
  toRefs(opnameFormModel);

const rules = {
  judul: [
    {
      required: true,
      message: "Judul harus diisi",
      trigger: "blur",
    },
  ],
  tanggal_opname: [
    {
      required: true,
      message: "Tanggal harus diisi",
      trigger: "blur",
    },
  ],
  keterangan: [
    {
      required: true,
      message: "Keterangan harus diisi",
      trigger: "blur",
    },
  ],
};

const submit = () => {
  opnameForm.value.validate((valid) => {
    if (valid) {
      list_produk.value = list.value?.map((l) => {
        return {
          id_produk: l.id_produk,
          jumlah_ril: l.jumlah_ril,
          keterangan: l.keterangan,
        };
      });
      storeOpname(opnameFormModel);
    } else {
      return false;
    }
  });
};
</script>

<style lang="scss">
.el-form {
  .el-input {
    width: 100%;
  }
  .form_number {
    width: 8rem;
    .el-input__inner {
      text-align: center;
    }
  }
}
</style>
