<template>
  <div class="bg-white shadow rounded p-5 pt-2 w-2/3 m-auto text-sm">
    <h2 class="mt-3 font-semibold text-base">Detail</h2>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">No. Dokumen</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ opname.no_dokumen }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Tanggal Opname</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ opname.tanggal_opname }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Judul</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ opname.judul }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Keterangan</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ opname.keterangan }}
      </el-col>
    </el-row>
  </div>
  <h2 class="mt-3 font-semibold">Data Produk</h2>
  <el-table
    class="mt-2 shadow"
    :data="opname.opname_detail"
    :row-class-name="formatRowClass"
  >
    <el-table-column type="index" label="No" align="center" />
    <el-table-column prop="produk.nama" label="Produk" />
    <el-table-column
      prop="jumlah_tersedia"
      label="Jumlah Tersedia"
      align="center"
      width="150px"
    />
    <el-table-column
      prop="jumlah_ril"
      label="Jumlah Ril"
      align="center"
      width="150px"
    />
    <el-table-column
      prop="selisih_jumlah"
      label="Selisih"
      align="center"
      width="150px"
    />
  </el-table>
  <div class="mt-5 flex justify-between">
    <el-button type="danger" size="mini" @click="$router.back" plain>
      Kembali
    </el-button>
    <div v-if="idRole == 4 || idRole == 3">
      <el-popconfirm
        icon-color="red"
        title="Apakah anda yakin ingin menghapus data ini?"
        cancel-button-text="Batal"
        confirm-button-text="YA"
        icon="el-icon-info"
        @confirm="deleteOpname"
      >
        <template #reference>
          <el-button type="danger" size="mini" :loading="loading">
            Hapus
          </el-button>
        </template>
      </el-popconfirm>
      <el-button type="primary" size="mini" @click="toEdit">Edit</el-button>
    </div>
  </div>
</template>

<script setup>
import useOpname from "@/composeable/opname";
import { onMounted } from "vue-demi";
import { useRoute, useRouter } from "vue-router";
import useCookies from "@/composeable/cookies";

const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const idRole = session.id_role;
const { opname, loading, getOpname, destroyOpname } = useOpname();
const router = useRouter();
const route = useRoute();
const { id } = route.params;

onMounted(() => getOpname(id));

const deleteOpname = () => {
  destroyOpname(id);
};

const toEdit = () => {
  router.push({ name: "Stok Opname Edit", params: { id } });
};

const formatRowClass = ({ row, rowIndex }) => {
  const { selisih_jumlah } = row;

  if (selisih_jumlah === 0) return "success-row";
};
</script>

<style lang="scss">
.el-table {
  .success-row {
    --el-table-tr-background-color: var(--el-color-success-light);
  }
}
</style>
