<template>
  <div class="bg-white shadow rounded p-5">
    <h2 class="text-xl font-semibold">Form Edit Opname</h2>
    <el-form
      class="mt-3"
      ref="opnameForm"
      :model="opnameFormModel"
      :rules="rules"
      size="small"
      label-position="left"
      label-width="150px"
    >
      <el-form-item label="Judul" prop="judul">
        <el-input v-model="judul" />
      </el-form-item>
      <el-form-item label="Tanggal Opname" prop="tanggal_opname">
        <el-date-picker class="w-full" v-model="tanggal_opname" />
      </el-form-item>
      <el-form-item label="Keterangan" prop="keterangan">
        <el-input v-model="keterangan" />
      </el-form-item>
      <hr />

      <h3 class="mt-3 text-lg font-semibold">Daftar Produk</h3>

      <div class="mt-2 flex space-x-3 font-semibold text-center">
        <p class="flex-grow text-left">Nama Produk</p>
        <p class="w-[100px]">Jumlah DB</p>
        <p class="w-[100px]">Jumlah Ril</p>
      </div>
      <div class="mt-1 flex flex-col space-y-4">
        <div
          v-for="detail in list_produk"
          :key="detail.id_produk"
          class="flex space-x-3"
        >
          <el-input v-model="detail.nama_produk" readonly />
          <el-input
            v-model="detail.jumlah_tersedia"
            class="form_number"
            readonly
          />
          <el-input-number
            v-model="detail.jumlah_ril"
            class="w-32"
            :controls="false"
          />
        </div>
      </div>
    </el-form>
  </div>
  <div class="mt-3 flex justify-between">
    <el-button size="small" type="danger" plain @click="$router.back">
      Kembali
    </el-button>
    <el-button size="small" type="primary" :loading="loading" @click="submit">
      Simpan
    </el-button>
  </div>
</template>

<script setup>
import useOpname from "@/composeable/opname";
import { onMounted, reactive, ref, toRefs, watch } from "vue-demi";
import { useRoute } from "vue-router";

const { opname, getOpname, updateOpname, loading } = useOpname();
const route = useRoute();
const { id } = route.params;

watch(opname, () => {
  judul.value = opname.value.judul;
  tanggal_opname.value = opname.value.tanggal_opname;
  keterangan.value = opname.value.keterangan;
  list_produk.value = opname.value.opname_detail?.map((o) => {
    return {
      id_produk: o.id_produk,
      jumlah_ril: o.jumlah_ril,
      keterangan: o.keterangan,
      nama_produk: o.produk.nama,
      jumlah_tersedia: o.jumlah_tersedia,
    };
  });
});

const opnameForm = ref(null);
const opnameFormModel = reactive({
  judul: "",
  tanggal_opname: "",
  keterangan: "",
  list_produk: [],
});
const rules = {
  judul: [
    {
      required: true,
      message: "Judul harus diisi",
      trigger: "blur",
    },
  ],
  tanggal_opname: [
    {
      required: true,
      message: "Tanggal harus diisi",
      trigger: "blur",
    },
  ],
  keterangan: [
    {
      required: true,
      message: "Keterangan harus diisi",
      trigger: "blur",
    },
  ],
};
const { judul, tanggal_opname, keterangan, list_produk } =
  toRefs(opnameFormModel);

const submit = () => {
  list_produk.value.forEach((l) => {
    delete l.nama_produk;
    delete l.jumlah_tersedia;
  });

  opnameForm.value.validate((valid) => {
    if (valid) {
      updateOpname(id, opnameFormModel);
    } else {
      return false;
    }
  });
};

onMounted(() => getOpname(id));
</script>

<style lang="scss">
.el-form {
  .el-input {
    width: 100%;
  }
  .form_number {
    width: 8rem;
    .el-input__inner {
      text-align: center;
    }
  }
}
</style>
