<template>
  <div class="shadow bg-white rounded">
    <div class="p-4 flex justify-between">
      <h2 class="text-lg font-semibold">Stok Opname</h2>
      <div class="flex space-x-2">
        <el-input
          v-model="search"
          prefix-icon="el-icon-search"
          size="mini"
          placeholder="Cari nama..."
        />
        <el-button
          v-if="idRole == 4 || idRole == 3"
          size="mini"
          type="primary"
          icon="el-icon-plus"
          @click="toAdd"
        />
      </div>
    </div>

    <el-table :data="pagedOpnames">
      <el-table-column type="index" label="No" align="center" />
      <el-table-column prop="no_dokumen" label="No. Dokumen" sortable />
      <el-table-column prop="judul" label="Judul" sortable />
      <el-table-column prop="tanggal_opname" label="Tanggal Opname" sortable />
      <el-table-column prop="keterangan" label="Keterangan" sortable />
      <el-table-column label="Aksi" width="100px" align="center">
        <template #default="scope">
          <el-button
            type="primary"
            icon="el-icon-search"
            size="mini"
            @click="toDetails(scope.row.id)"
          />
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="py-3 px-2"
      layout="sizes, prev, pager, next, jumper, ->, total"
      :total="opnames.length"
      :page-size="pageSize"
      :page-sizes="[5, 10, 25, 50]"
      @current-change="handleChange"
      @size-change="handleSize"
    >
    </el-pagination>
  </div>
</template>

<script setup>
import useOpname from "@/composeable/opname";
import { computed, onMounted, ref } from "vue-demi";
import { useRouter } from "vue-router";
import useCookies from "@/composeable/cookies";
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const idRole = session.id_role;

const { opnames, getOpnames } = useOpname();
const router = useRouter();
const search = ref("");
const page = ref(1);
const pageSize = ref(10);

onMounted(getOpnames);

const filteredOpnames = computed(() => {
  return opnames.value?.filter((o) => {
    return o.judul?.toLowerCase().includes(search.value.toLowerCase());
  });
});

const pagedOpnames = computed(() => {
  return filteredOpnames.value?.slice(
    pageSize.value * page.value - pageSize.value,
    pageSize.value * page.value
  );
});

const toDetails = (id) => {
  router.push({ name: "Stok Opname Details", params: { id } });
};

const toAdd = () => {
  router.push({ name: "Stok Opname Add" });
};

const handleChange = (val) => {
  page.value = val;
};

const handleSize = (val) => {
  pageSize.value = val;
};
</script>

<style></style>
