<template>
  <Form
    :model="productForm"
    title="Tambah Produk"
    :loading="loading"
    :rules="rules"
    @submit="handleSubmit"
  >
    <el-form-item label="Kategori" prop="id_kategori">
      <el-select
        class="w-full"
        v-model="id_kategori"
        clearable
        placeholder="Pilih kategori produk"
      >
        <el-option
          v-for="category in categories"
          :key="category.id"
          :label="category.nama"
          :value="category.id"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Satuan" prop="id_satuan_produk">
      <el-select
        class="w-full"
        v-model="id_satuan_produk"
        clearable
        placeholder="Pilih satuan produk"
      >
        <el-option
          v-for="unit in units"
          :key="unit.id"
          :label="unit.nama"
          :value="unit.id"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Nama Produk" prop="nama">
      <el-input v-model="nama" placeholder="Nama produk" clearable />
    </el-form-item>
    <el-form-item label="Berat" prop="berat">
      <el-input-number
        class="w-full"
        v-model="berat"
        :min="0"
        controls-position="right"
        placeholder="Berat produk"
      />
    </el-form-item>
    <el-form-item label="Harga" prop="harga">
      <el-input-number
        class="w-full"
        v-model="harga"
        :min="0"
        controls-position="right"
        placeholder="Harga produk"
      />
    </el-form-item>
    <el-form-item label="Minimal Pemesanan" prop="min_pemesanan">
      <el-input-number
        class="w-full"
        v-model="min_pemesanan"
        :min="0"
        controls-position="right"
        placeholder="Minimal pemesanan"
      />
    </el-form-item>
    <el-form-item label="Gambar Produk">
      <el-upload
        action="#"
        list-type="picture-card"
        :auto-upload="false"
        :on-change="handleChange"
      >
        <el-icon><plus /></el-icon>
      </el-upload>
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import { computed, onMounted, reactive, ref, toRefs } from "vue-demi";
import useCategories from "@/composeable/categories";
import useUnits from "@/composeable/units";
import useProducts from "@/composeable/products";
import useErrors from "@/composeable/errors";
import { Plus } from "@element-plus/icons";

import { useRouter } from "vue-router";

const { loading, storeProduct } = useProducts();
const { categories, getCategories } = useCategories();
const { units, getUnits } = useUnits();
const { invalidFileFormat } = useErrors();
const router = useRouter();

onMounted(() => {
  getCategories();
  getUnits();
});

const productForm = reactive({
  id_kategori: null,
  id_satuan_produk: null,
  nama: "",
  berat: undefined,
  harga: undefined,
  min_pemesanan: undefined,
});
const { id_kategori, id_satuan_produk, nama, berat, harga, min_pemesanan } =
  toRefs(productForm);
const rules = {
  id_kategori: [
    {
      required: true,
      message: "Kategori harus diisi",
      trigger: "change",
    },
  ],
  id_satuan_produk: [
    {
      required: true,
      message: "Satuan Produk harus diisi",
      trigger: "change",
    },
  ],
  nama: [
    {
      required: true,
      message: "Nama harus diisi",
      trigger: "blur",
    },
  ],
  berat: [
    {
      required: true,
      message: "Berat harus diisi",
      trigger: "blur",
    },
  ],
  harga: [
    {
      required: true,
      message: "Harga harus diisi",
      trigger: "blur",
    },
  ],
  min_pemesanan: [
    {
      required: true,
      message: "Minimal Pemesanan harus diisi",
      trigger: "blur",
    },
  ],
};

const acceptFiles = ["image/png", "image/jpg", "image/jpeg"];
const files = ref([]);

const handleChange = (file, list) => {
  if (acceptFiles.includes(file.raw.type)) {
    files.value = list;
  } else {
    list.pop();
    invalidFileFormat();
  }
};

const handleSubmit = () => {
  const rawFiles = computed(() =>
    files.value.map((f) => f.raw).filter((x) => x)
  );
  storeProduct(productForm, rawFiles.value);
};
</script>
