<template>
  <master-details
    v-if="!loading"
    :data="product"
    title="Detail Produk"
    :loading="loading"
    :show-picture="true"
    :picture-source="product.gambar[0]?.gambar_url"
    @delete="destroyProduct(id)"
  >
    <master-details-item title="nama" :value="product.nama" />
    <master-details-item title="kategori" :value="product.kategori?.nama" />
    <master-details-item
      title="Satuan Produk"
      :value="product.satuan_produk?.nama"
    />
    <master-details-item title="stok tersedia" :value="product.stok_tersedia" />
    <master-details-item title="stok dipesan" :value="product.stok_dipesan" />
    <master-details-item title="total terjual" :value="product.total_terjual" />
    <master-details-item title="berat" :value="product.berat" />
    <master-details-item
      title="minimal pemesanan"
      :value="product.min_pemesanan"
    />
    <master-details-item title="harga" :value="toRupiah(product.harga)" />
  </master-details>
</template>

<script setup>
import useProducts from "@/composeable/products";
import useConverts from "@/composeable/format";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const { product, loading, getProduct, destroyProduct } = useProducts();
const { toRupiah } = useConverts();
const route = useRoute();
const { id } = route.params;

onMounted(getProduct(id));
</script>
