<template>
  <master-table :data="products" title="Master Produk">
    <el-table-column prop="nama" label="Nama" width="350px" />
    <el-table-column prop="kategori.nama" label="Kategori" />
    <el-table-column label="Harga">
      <template #default="scope">
        {{ toRupiah(scope.row.harga) }}
      </template>
    </el-table-column>
  </master-table>
</template>

<script setup>
import useProducts from "@/composeable/products";
import useConverts from "@/composeable/format";
import { onMounted } from "vue-demi";

const { products, getProducts } = useProducts();
const { toRupiah } = useConverts();

onMounted(() => {
  getProducts();
});
</script>

<style></style>
