<template>
  <div class="flex justify-center">
    <detail-cards :order="order" />
  </div>
  <div class="mt-6">
    <product-table
      :order="order"
      :quantity="true"
      :stock="true"
      @countSelect="displayCount"
    />
  </div>
  <div class="mt-6">
    <log-order :order="order" />
  </div>
  <div class="mt-5 flex justify-between">
    <el-button size="small" type="danger" plain @click="$router.back">
      Kembali
    </el-button>
    <div v-if="idRole == 4 || idRole == 3">
      <div v-if="order.status?.kode_status == 30">
        <el-button size="small" type="danger" @click="toggleDialog">
          Tolak
        </el-button>
        <el-button size="small" type="primary" @click="confirm">
          Konfirmasi
          <span v-if="count" class="font-semibold">({{ count }})</span>
        </el-button>
      </div>
      <div v-else>
        <el-button size="small" type="danger" @click="cancel">
          Refund
        </el-button>
        <el-button size="small" type="primary" @click="confirm">
          Lanjutkan
          <span v-if="count" class="font-semibold">({{ count }})</span>
        </el-button>
      </div>
    </div>
  </div>
  <el-dialog :model-value="dialog" @close="closeDialog" width="30%" top="10%">
    <el-input type="textarea" placeholder="Catatan (optinal)" v-model="desc" />
    <div class="flex justify-between mt-4">
      <el-button size="mini" type="danger" plain @click="closeDialog">
        Tutup
      </el-button>
      <div>
        <el-button size="mini" type="warning" @click="pending">
          Pengadaan
        </el-button>
        <el-button size="mini" type="danger" @click="cancel">Refund</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script setup>
import { onMounted, ref } from "vue-demi";
import useOrders from "@/composeable/orders";
import { useRoute } from "vue-router";
import DetailCards from "@/components/DetailCards.vue";
import ProductTable from "@/components/ProductTable.vue";
import LogOrder from "@/components/LogOrder.vue";
import useCookies from "@/composeable/cookies";

const { order, getOrder, updateStatus } = useOrders();
const route = useRoute();
const count = ref(0);
const dialog = ref(false);
const desc = ref("");
const { id } = route.params;
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const idRole = session.id_role;

onMounted(() => {
  getOrder(route.params.id);
});

const displayCount = (val) => {
  count.value = val;
};

const confirm = () => {
  const payload = {
    kode_status: 31,
    keterangan: desc.value,
  };
  updateStatus(id, payload, "Stok berhasil dikonfirmasi.");
};

const cancel = () => {
  const payload = {
    kode_status: 50,
    keterangan: desc.value,
  };
  updateStatus(id, payload, "Pesanan akan direfund", "warning");
};

const pending = () => {
  const payload = {
    kode_status: 33,
    keterangan: desc.value,
  };
  updateStatus(id, payload, "Pengadaan", "warning");
};

const toggleDialog = () => {
  dialog.value = true;
};

const closeDialog = () => {
  dialog.value = false;
};
</script>

<style></style>
