<template>
  <orders-table
    :data="confirmedOrders"
    title="Konfirmasi Stok"
    :status="true"
  />
</template>

<script setup>
import { computed, onMounted } from "vue-demi";
import useOrders from "@/composeable/orders";
import OrdersTable from "@/components/OrdersTable.vue";
const { orders, getOrders } = useOrders();

onMounted(() => getOrders());

const confirmedOrders = computed(() => {
  return orders.value?.filter((o) => {
    return o.status.kode_status == 30 || o.status.kode_status == 33;
  });
});
</script>

<style></style>
