<template>
  <p class="font-semibold">Filter</p>
  <el-date-picker
    class="dashboard_filter mb-3"
    v-model="value"
    :clearable="false"
    size="small"
    type="daterange"
    range-separator="Sampai"
    start-placeholder="Tanggal Mulai"
    end-placeholder="Tanggal Akhir"
    :shortcuts="shortcuts"
    format="DD MMMM YYYY"
    @change="handleChange"
  >
  </el-date-picker>
  <Cards :datasets="datasets" />

  <div class="mt-3 flex flex-col space-y-5">
    <monthly-chart :categories="dateRange" :data="data" />
    <column-chart :categories="dateRange" :data="ordersStatus" />
  </div>

  <el-row :gutter="16" class="mt-6">
    <el-col :span="12">
      <top-data
        :data="top_reseller"
        title="Reseller Terprofit"
        nameLabel="Reseller"
        :currency="true"
      />
    </el-col>
    <el-col :span="12">
      <top-data :data="top_produk" title="Produk Terlaris" nameLabel="Produk" />
    </el-col>
  </el-row>
</template>

<script setup>
import moment from "moment";
import useDashboard from "@/composeable/dashboard";
import Cards from "@/components/Cards.vue";
import MonthlyChart from "@/components/MonthlyChart.vue";
import ColumnChart from "@/components/ColumnChart.vue";
import TopData from "@/components/TopData.vue";
import { computed, onMounted, reactive, ref, toRefs, watch } from "vue-demi";

const { datasets, loading, getDashboard } = useDashboard();
const start = ref("");
const end = ref("");
const checkouts = ref([]);
const confirmed = ref([]);
const omset = ref([]);

onMounted(() => {
  start.value = moment().subtract(30, "days");
  end.value = moment();
  getDashboard(
    start.value.format("YYYY-MM-DD"),
    end.value.format("YYYY-MM-DD")
  );
});

watch(datasets, (to, from) => {
  getDays(start.value, end.value);
});

const checkoutDates = computed(() => {
  return datasets.value.grafik_checkout?.map((d) => {
    d.tanggal = moment(d.tanggal, "YYYY-MM-DD").format("DD MMM");
    return d;
  });
});

const confirmedDates = computed(() => {
  return datasets.value.grafik_terkonfirmasi?.map((d) => {
    d.tanggal = moment(d.tanggal, "YYYY-MM-DD").format("DD MMM");
    return d;
  });
});

const omsetDates = computed(() => {
  return datasets.value.grafik_omset?.map((d) => {
    d.tanggal = moment(d.tanggal, "YYYY-MM-DD").format("DD MMM");
    return d;
  });
});

const data = reactive({
  checkouts: computed(() => checkouts.value),
  confirmed: computed(() => confirmed.value),
  omset: computed(() => omset.value),
});

const ordersStatus = reactive({
  verifikasi: {
    name: "Verifikasi Pembayaran",
    data: computed(() => {
      return datasets.value.grafik_status
        ?.filter((s) => {
          return s.id_status == 2;
        })
        ?.map((s) => {
          return s.jumlah_pesanan;
        });
    }),
  },
  dikirim: {
    name: "Barang Dikirm",
    data: computed(() => {
      return datasets.value.grafik_status
        ?.filter((s) => {
          return s.id_status == 6;
        })
        ?.map((s) => {
          return s.jumlah_pesanan;
        });
    }),
  },
  dibatalkan: {
    name: "Pesanan Dibatalkan",
    data: computed(() => {
      return datasets.value.grafik_status
        ?.filter((s) => {
          return s.id_status == 10;
        })
        ?.map((s) => {
          return s.jumlah_pesanan;
        });
    }),
  },
  selesai: {
    name: "Pesanan Sampai Tujuan",
    data: computed(() => {
      return datasets.value.grafik_status
        ?.filter((s) => {
          return s.id_status == 11;
        })
        ?.map((s) => {
          return s.jumlah_pesanan;
        });
    }),
  },
});

const top_produk = computed(() => {
  return datasets.value.top_produk?.map((p) => {
    p.nama = p.produk;
    return p;
  });
});

const top_reseller = computed(() => {
  return datasets.value.top_reseller?.map((r) => {
    r.nama = r.reseller;
    r.jumlah = r.total_penjualan;
    return r;
  });
});

const state = reactive({
  shortcuts: [
    {
      text: "30 hari yang lalu",
      value: () => {
        const startDate = moment().subtract(30, "days").format();
        const endDate = moment().format();

        return [startDate, endDate];
      },
    },
    {
      text: "7 hari yang lalu",
      value: () => {
        const startDate = moment().subtract(7, "days").format();
        const endDate = moment().format();

        return [startDate, endDate];
      },
    },
    {
      text: "3 hari yang lalu",
      value: () => {
        const startDate = moment().subtract(3, "days").format();
        const endDate = moment().format();

        return [startDate, endDate];
      },
    },
  ],
  value: [moment().subtract(30, "days").format(), moment().format()],
});
const { shortcuts, value } = toRefs(state);

const handleChange = (date) => {
  start.value = moment(date[0]);
  end.value = moment(date[1]);
  getDashboard(
    start.value.format("YYYY-MM-DD"),
    end.value.format("YYYY-MM-DD")
  );
};
const dateRange = ref([]);
watch(dateRange, (to, from) => {
  generateCheckout();
  generateConfirmed();
  generateOmset();
});

const getDays = (startDate, endDate) => {
  checkouts.value = [];
  confirmed.value = [];
  omset.value = [];
  dateRange.value = [];

  while (startDate.isSameOrBefore(endDate)) {
    dateRange.value.push(startDate.format("DD MMM"));
    startDate.add(1, "days");
  }
};

const generateCheckout = () => {
  let i = 0;
  dateRange.value.forEach((d) => {
    if (d == checkoutDates.value[i]?.tanggal) {
      checkouts.value.push(checkoutDates.value[i].total);
      i++;
    } else {
      checkouts.value.push(0);
    }
  });
};

const generateConfirmed = () => {
  let i = 0;
  dateRange.value.forEach((d) => {
    if (d == confirmedDates.value[i]?.tanggal) {
      confirmed.value.push(confirmedDates.value[i].total);
      i++;
    } else {
      confirmed.value.push(0);
    }
  });
};

const generateOmset = () => {
  let i = 0;

  dateRange.value.forEach((d) => {
    if (d == omsetDates.value[i]?.tanggal) {
      omset.value.push(omsetDates.value[i].total);
      i++;
    } else {
      omset.value.push(0);
    }
  });
};
</script>

<style lang="scss">
.dashboard_filter {
  &.el-date-editor {
    --el-date-editor-daterange-width: 100%;
  }
}
</style>
