<template>
  <el-container>
    <el-aside width="250px" class="shadow fixed">
      <Sidebar />
    </el-aside>
    <el-container>
      <el-header height="75px">
        <Header />
      </el-header>
      <el-main>
        <router-view />
      </el-main>
    </el-container>
  </el-container>
</template>

<script setup>
import Header from "@/components/Header.vue";
import Sidebar from "@/components/Sidebar.vue";
</script>

<style>
.el-header {
  background-color: var(--el-color-primary);
}

.el-aside {
  background-color: white;
  min-height: 100vh;
}

.el-main {
  --el-main-padding: 40px;
  margin-left: 250px;
}
</style>
