<template>
  <div class="min-h-screen flex justify-center items-center bg-primary">
    <div class="bg-white p-6 shadow-2xl rounded-lg flex flex-col items-center">
      <img src="@/assets/logo.png" alt="Logo" class="h-36 mb-6 mt-2" />
      <el-form
        ref="loginForm"
        :model="loginFormModel"
        :rules="rules"
        class="w-64"
        size="medium"
        status-icon
        @keyup.enter="login"
      >
        <el-form-item prop="email">
          <el-input
            v-model="loginFormModel.email"
            placeholder="Email"
            clearable
          />
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            v-model="loginFormModel.password"
            placeholder="Password"
            show-password
            clearable
          />
        </el-form-item>
        <el-button
          class="w-full"
          type="primary"
          @click="login"
          :loading="loading"
        >
          Masuk
        </el-button>
      </el-form>
    </div>
  </div>
</template>

<script>
import { useRouter } from "vue-router";
import useAuth from "@/composeable/auth";
import { reactive, ref } from "vue-demi";
export default {
  setup() {
    const { loading, loginUser } = useAuth();
    const router = useRouter();
    const loginForm = ref(null);
    const loginFormModel = reactive({
      email: "",
      password: "",
    });

    const rules = {
      email: [
        {
          required: true,
          message: "Email harus diisi",
          trigger: "blur",
        },
        {
          type: "email",
          message: "Email tidak valid",
          trigger: "blur",
        },
      ],
      password: [
        {
          required: true,
          message: "Password harus diisi",
          trigger: "blur",
        },
      ],
    };

    const login = () => {
      loginForm.value.validate((valid) => {
        if (valid) {
          loginUser(loginFormModel);
        } else {
          return false;
        }
      });
    };

    const toRegister = () => {
      router.push({ name: "Register" });
    };

    return {
      loginForm,
      loginFormModel,
      rules,
      loading,
      login,
      toRegister,
    };
  },
};
</script>

<style></style>
