<template>
  <div class="flex flex-col items-center">
    <img src="@/assets/not-allowed.png" class="w-2/5" />
    <p class="mt-2 text-lg">Maaf, halaman ini tidak dapat diakses</p>
    <el-button class="mt-3" type="primary" size="small" @click="$router.back"
      >Kembali</el-button
    >
  </div>
</template>

<script setup></script>

<style></style>
