<template>
  <div v-for="(print, index) in prints" :key="index">
    <div class="mb-8">
      <PrintCard :print="print" />
    </div>
    <div v-if="(index + 1) % 3 === 0" class="pb" />
  </div>
</template>

<script setup>
import PrintCard from "@/components/PrintCard.vue";
import { computed } from "vue-demi";

const printList = JSON.parse(localStorage.printList);

const prints = printList.map((p) => {
  const weights = p.pesanan_detail.map((pd) => parseInt(pd.produk.berat));
  return {
    berat: weights.reduce((prev, curr) => prev + curr, 0),
    penerima: {
      nama: p.pembeli.nama,
      no_telp: p.pembeli.no_telp,
      alamat: p.pembeli.alamat,
      kode_pos: p.pembeli.kode_pos,
    },
    ongkir: parseInt(p.total_ongkos_kirim),
    pengirim: {
      nama: p.reseller.nama,
      no_telp: p.reseller.no_telp,
    },
    nomor_pesanan: p.no_order,
    catatan: p.catatan,
    total_bayar: p.total_bayar,
  };
});

setTimeout(() => {
  window.print();
  window.close();
  localStorage.clear();
}, 500);
</script>

<style>
@page {
  size: A4;
  /* margin: 0; */
}

@media print {
  .pb {
    page-break-before: always;
  }
}
</style>
