<template>
  <div>
    <div class="flex flex-col items-center px-24">
      <el-avatar :size="200" />
      <h2 class="text-2xl font-bold mt-3">John Doe</h2>
      <p>john.doe@mail.com</p>
    </div>
    <div class="mt-6 font-semibold">
      <div class="flex px-8 py-4 bg-blue-100 rounded">
        <p class="w-96">Nama</p>
        <p>John Doe</p>
      </div>
      <div class="flex px-8 py-4">
        <p class="w-96">Role</p>
        <p>Admin</p>
      </div>
      <div class="flex px-8 py-4 bg-blue-100 rounded">
        <p class="w-96">Email</p>
        <p>john.doe@mail.com</p>
      </div>
      <div class="flex px-8 py-4">
        <p class="w-96">Kontak</p>
        <p>+62 442 5235 2125</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
