<template>
  <div class="p-8 min-h-screen flex justify-center items-center bg-primary">
    <div
      class="
        bg-white
        px-8
        py-6
        shadow-2xl
        rounded-lg
        flex flex-col
        items-center
      "
    >
      <img src="@/assets/logo.png" alt="Logo" class="w-20" />
      <el-form
        ref="registerForm"
        :model="registerFormModel"
        :rules="rules"
        class="mt-5 w-64"
        size="small"
        status-icon
      >
        <el-form-item prop="email">
          <el-input
            v-model="registerFormModel.email"
            placeholder="Email"
            clearable
          />
        </el-form-item>
        <el-form-item prop="nama">
          <el-input
            v-model="registerFormModel.nama"
            placeholder="Nama"
            clearable
          />
        </el-form-item>
        <el-form-item prop="no_telp">
          <el-input
            v-model.number="registerFormModel.no_telp"
            placeholder="No. Telepon"
            clearable
          />
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            v-model="registerFormModel.password"
            placeholder="Password"
            show-password
            clearable
          />
        </el-form-item>
        <el-form-item prop="konfirmasi_password">
          <el-input
            v-model="registerFormModel.konfirmasi_password"
            placeholder="Konfirmasi Password"
            show-password
            clearable
          />
        </el-form-item>
        <el-button
          class="w-full"
          type="primary"
          :loading="loading"
          @click="register"
          >Daftar</el-button
        >
      </el-form>

      <p class="mt-5 text-sm font-semibold text-gray-400">Sudah punya akun?</p>
      <el-link class="mt-1 text-black font-bold" @click="toLogin">
        Klik disini untuk masuk
      </el-link>
    </div>
  </div>
</template>

<script>
import { reactive, ref } from "vue-demi";
import { useRouter } from "vue-router";
import useAuth from "@/composeable/auth";
export default {
  setup() {
    const { loading, storeUser } = useAuth();
    const router = useRouter();
    const registerForm = ref(null);
    const registerFormModel = reactive({
      email: "",
      id_role: 1,
      nama: "",
      no_telp: "",
      password: "",
      konfirmasi_password: "",
    });

    const validatePassword = (rule, value, callback) => {
      if (value !== registerFormModel.password) {
        callback(new Error("Password tidak sama"));
      } else {
        callback();
      }
    };

    const rules = {
      email: [
        {
          required: true,
          message: "Email harus diisi",
          trigger: "blur",
        },
        {
          type: "email",
          message: "Email tidak valid",
          trigger: "blur",
        },
      ],
      nama: [
        {
          required: true,
          message: "Nama harus diisi",
          trigger: "blur",
        },
      ],
      no_telp: [
        {
          required: true,
          message: "Nomor telepon harus diisi",
          trigger: "blur",
        },
      ],
      password: [
        {
          required: true,
          message: "Password harus diisi",
          trigger: "blur",
        },
        {
          min: 6,
          message: "Password harus diisi minimal 6 karakter",
          trigger: "blur",
        },
      ],
      konfirmasi_password: [
        {
          required: true,
          message: "Konfirmasi password harus diisi",
          trigger: "blur",
        },
        {
          validator: validatePassword,
          trigger: "blur",
        },
      ],
    };

    const register = () => {
      registerForm.value.validate((valid) => {
        if (valid) {
          storeUser(registerFormModel);
        } else {
          return false;
        }
      });
    };

    const toLogin = () => {
      router.push({ name: "Login" });
    };

    return {
      registerForm,
      registerFormModel,
      rules,
      loading,
      register,
      toLogin,
    };
  },
};
</script>

<style></style>
