<template>
  <Form
    :model="resellerForm"
    title="Tambah Reseller"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
    <el-form-item label="Email" prop="email">
      <el-input v-model="email" clearable />
    </el-form-item>
    <el-form-item label="Nomor Telepon" prop="no_telp">
      <el-input v-model.number="no_telp" clearable />
    </el-form-item>
    <el-form-item label="Alamat">
      <el-input v-model="alamat" type="textarea" clearable />
    </el-form-item>
    <el-form-item label="Password" prop="password">
      <el-input v-model="password" show-password clearable />
    </el-form-item>
    <el-form-item label="Konfirmasi Password" prop="konfirmasi_password">
      <el-input v-model="konfirmasi_password" show-password clearable />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import { reactive, toRefs } from "vue-demi";
import useCookies from "@/composeable/cookies";
import useResellers from "@/composeable/resellers";

const { getDecodedCookie } = useCookies();
const { loading, storeReseller } = useResellers();

const session = getDecodedCookie("session");

const resellerForm = reactive({
  id_user: session.id,
  nama: "",
  email: "",
  no_telp: "",
  alamat: "",
  password: "",
  konfirmasi_password: "",
});
const { nama, email, no_telp, alamat, password, konfirmasi_password } =
  toRefs(resellerForm);

const validatePassword = (rule, value, callback) => {
  if (value !== password.value) {
    callback(new Error("Password tidak sama"));
  } else {
    callback();
  }
};

const rules = {
  nama: [
    {
      required: true,
      message: "Nama reseller harus diisi.",
      trigger: "blur",
    },
  ],
  email: [
    {
      type: "email",
      message: "Email tidak valid",
      trigger: "blur",
    },
    {
      required: true,
      message: "Email harus diisi.",
      trigger: "blur",
    },
  ],
  no_telp: [
    {
      required: true,
      message: "Nomor telepon harus diisi.",
      trigger: "blur",
    },
    {
      type: "number",
      message: "Nomor telepon harus berupa angka",
      trigger: "blur",
    },
  ],
  password: [
    {
      required: true,
      message: "Password harus diisi.",
      trigger: "blur",
    },
  ],
  konfirmasi_password: [
    {
      required: true,
      message: "Konfirmasi password harus diisi.",
      trigger: "blur",
    },
    {
      validator: validatePassword,
      trigger: "blur",
    },
  ],
};

const handleSubmit = () => {
  storeReseller(resellerForm);
};
</script>
