<template>
  <master-details
    :data="reseller"
    title="Detail Reseller"
    :loading="loading"
    @delete="destroyReseller(id)"
  >
    <master-details-item title="nama" :value="reseller.nama" />
    <master-details-item title="email" :value="reseller.email" />
    <master-details-item title="nomor telepon" :value="reseller.no_telp" />
    <master-details-item title="alamat" :value="reseller.alamat" />
    <master-details-item title="diverifikasi">
      <template #value>
        <el-icon>
          <check v-if="reseller.is_verified" />
          <close v-else />
        </el-icon>
      </template>
    </master-details-item>
    <master-details-item title="verifikasi otp">
      <template #value>
        <el-icon>
          <check v-if="reseller.is_otp_verified" />
          <close v-else />
        </el-icon>
      </template>
    </master-details-item>
  </master-details>
</template>

<script setup>
import useResellers from "@/composeable/resellers";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";
import { Check, Close } from "@element-plus/icons";

const { reseller, loading, getReseller, destroyReseller } = useResellers();
const route = useRoute();
const { id } = route.params;

onMounted(getReseller(id));
</script>
