<template>
  <Form
    :model="resellerForm"
    title="Edit Reseller"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
    <el-form-item label="Email" prop="email">
      <el-input v-model="email" clearable />
    </el-form-item>
    <el-form-item label="Nomor Telepon" prop="no_telp">
      <el-input v-model.number="no_telp" clearable />
    </el-form-item>
    <el-form-item label="Alamat">
      <el-input v-model="alamat" type="textarea" clearable />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import { onMounted, reactive, toRefs, watch } from "vue-demi";
import useCookies from "@/composeable/cookies";
import useResellers from "@/composeable/resellers";
import { useRoute } from "vue-router";

const { getDecodedCookie } = useCookies();
const { reseller, loading, getReseller, updateReseller } = useResellers();
const route = useRoute();
const { id } = route.params;

const session = getDecodedCookie("session");

onMounted(getReseller(id));

const resellerForm = reactive({
  id_user: session.id,
  nama: "",
  email: "",
  no_telp: "",
  alamat: "",
});
const { nama, email, no_telp, alamat } = toRefs(resellerForm);

const rules = {
  nama: [
    {
      required: true,
      message: "Nama reseller harus diisi.",
      trigger: "blur",
    },
  ],
  email: [
    {
      type: "email",
      message: "Email tidak valid",
      trigger: "blur",
    },
    {
      required: true,
      message: "Email harus diisi.",
      trigger: "blur",
    },
  ],
  no_telp: [
    {
      required: true,
      message: "Nomor telepon harus diisi.",
      trigger: "blur",
    },
    {
      type: "number",
      message: "Nomor telepon harus berupa angka",
      trigger: "blur",
    },
  ],
};

watch(reseller, (to) => {
  nama.value = to.nama;
  email.value = to.email;
  no_telp.value = parseInt(to.no_telp);
  alamat.value = to.alamat;
});

const handleSubmit = () => {
  updateReseller(id, resellerForm);
};
</script>
