<template>
  <master-table :data="resellers" title="Master Reseller">
    <el-table-column prop="nama" label="Nama" />
    <el-table-column prop="email" label="Email" />
    <el-table-column prop="no_telp" label="Nomor Telepon" />
    <el-table-column label="Diverifikasi" align="center">
      <template #default="scope">
        <el-icon>
          <check v-if="scope.row.is_verified == 1" />
          <close v-else />
        </el-icon>
      </template>
    </el-table-column>
    <el-table-column label="Verifikasi OTP" align="center">
      <template #default="scope">
        <el-icon>
          <check v-if="scope.row.is_otp_verified == 1" />
          <close v-else />
        </el-icon>
      </template>
    </el-table-column>
  </master-table>
</template>

<script setup>
import useResellers from "@/composeable/resellers";
import { onMounted } from "vue-demi";
import { Check, Close } from "@element-plus/icons";

const { resellers, getResellers } = useResellers();

onMounted(getResellers);
</script>
