<template>
  <master-details
    :data="city"
    title="Detail Kabupaten Kota"
    :loading="loading"
    @delete="destroyCity(id)"
  >
    <master-details-item title="nama kabupaten kota" :value="city.nama" />
    <master-details-item title="nama provinsi" :value="city.provinsi?.nama" />
  </master-details>
</template>

<script setup>
import useCities from "@/composeable/cities";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const { city, loading, getCity, destroyCity } = useCities();
const route = useRoute();
const { id } = route.params;

onMounted(getCity(id));
</script>
