<template>
  <Form
    :model="cityForm"
    title="Edit Kabupaten Kota"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama Provinsi" prop="id_provinsi">
      <el-select class="w-full" v-model="id_provinsi" clearable>
        <el-option
          v-for="province in provinces"
          :key="province.id"
          :value="province.id"
          :label="province.nama"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Nama Kabupaten" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import useCities from "@/composeable/cities";
import useProvinces from "@/composeable/provinces";
import useCookies from "@/composeable/cookies";
import { onMounted, reactive, toRefs, watch } from "vue-demi";
import { useRoute } from "vue-router";

const { provinces, getProvinces } = useProvinces();
const { city, loading, getCity, updateCity } = useCities();
const { getDecodedCookie } = useCookies();
const route = useRoute();
const { id } = route.params;

const session = getDecodedCookie("session");

onMounted(() => {
  getProvinces();
  getCity(id);
});

const cityForm = reactive({
  id_user: session.id,
  id_provinsi: null,
  nama: "",
});
const { id_provinsi, nama } = toRefs(cityForm);
const rules = {
  id_provinsi: [
    {
      required: true,
      message: "Nama provinsi harus diisi",
      trigger: "blur",
    },
  ],
  nama: [
    {
      required: true,
      message: "Nama kabupaten kota harus diisi",
      trigger: "blur",
    },
  ],
};

watch(city, (to) => {
  id_provinsi.value = to.id_provinsi;
  nama.value = to.nama;
});

const handleSubmit = () => {
  updateCity(id, cityForm);
};
</script>
