<template>
  <master-table :data="cities" title="Master Kabupaten Kota">
    <el-table-column prop="nama" label="Nama" />
  </master-table>
</template>

<script setup>
import useCities from "@/composeable/cities";
import { onMounted } from "vue-demi";

const { cities, getCities } = useCities();

onMounted(getCities);
</script>

<style></style>
