<template>
  <Form
    :model="passwordForm"
    title="Ganti Password"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Password Lama" prop="old_password">
      <el-input v-model="old_password" clearable show-password />
    </el-form-item>
    <el-form-item label="Password Baru" prop="password">
      <el-input v-model="password" clearable show-password />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import { reactive, toRefs } from "vue-demi";
import useCookies from "@/composeable/cookies";
import useProfiles from "@/composeable/profiles";

const { loading, updatePassword } = useProfiles();
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const id = session.id;

const passwordForm = reactive({
  old_password: "",
  password: "",
});
const { old_password, password } = toRefs(passwordForm);
const rules = {
  old_password: [
    {
      required: true,
      message: "Password lama harus diisi",
      trigger: "change",
    },
  ],
  password: [
    {
      required: true,
      message: "Password baru harus diisi",
      trigger: "change",
    },
  ],
};

const handleSubmit = () => {
  updatePassword(id, passwordForm);
};
</script>
