<template>
  <el-row :gutter="32">
    <el-col :span="5">
      <el-avatar :src="profile.gambar_url" shape="square" class="w-full h-44" />
      <el-upload
        class="profile__upload"
        ref="upload"
        action="#"
        :auto-upload="false"
        :on-change="handleChange"
      >
        <template #trigger>
          <el-button class="w-full" size="small" type="danger" plain>
            Ganti Foto
          </el-button>
        </template>
        <el-button
          v-if="files.length"
          class="w-full mt-1"
          size="small"
          type="primary"
          :loading="loading"
          @click="handleUpload"
        >
          Upload
        </el-button>
      </el-upload>
    </el-col>
    <el-col :span="18">
      <Form
        :model="profileForm"
        :rules="rules"
        :loading="loading"
        title="Profile"
        size="small"
        labelPosition="top"
        @submit="handleSubmit"
      >
        <el-form-item label="Role" prop="id_role">
          <el-select class="w-full" v-model="id_role" clearable disabled>
            <el-option
              v-for="role in roles"
              :key="role.id"
              :label="role.nama"
              :value="role.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Nama" prop="nama">
          <el-input v-model="nama" clearable />
        </el-form-item>
        <el-form-item label="Email" prop="email">
          <el-input v-model="email" clearable />
        </el-form-item>
        <el-form-item label="Nomor Telepon" prop="no_telp">
          <el-input v-model.number="no_telp" clearable />
        </el-form-item>
        <el-form-item>
          <hr />
        </el-form-item>
        <el-form-item>
          <el-button type="danger" plain @click="toChangePassword">
            Ganti Password
          </el-button>
        </el-form-item>
      </Form>
    </el-col>
  </el-row>
</template>

<script setup>
import Form from "@/components/Form.vue";
import useProfiles from "@/composeable/profiles";
import useCookies from "@/composeable/cookies";
import useRoles from "@/composeable/roles";
import { computed, onMounted, reactive, ref, toRefs, watch } from "vue-demi";
import { useRouter } from "vue-router";

const { profile, loading, getProfile, updateProfile, updateImage } =
  useProfiles();
const { roles, getRoles } = useRoles();
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const id = session.id;
const router = useRouter();

onMounted(() => {
  getRoles();
  getProfile(id);
});

const profileForm = reactive({
  id_role: null,
  nama: "",
  email: "",
  no_telp: null,
});
const { id_role, nama, email, no_telp } = toRefs(profileForm);
const rules = {
  id_role: [
    {
      required: true,
      message: "Role user harus diisi",
      trigger: "change",
    },
  ],
  nama: [
    {
      required: true,
      message: "Nama harus diisi",
      trigger: "change",
    },
  ],
  email: [
    {
      required: true,
      message: "Email harus diisi",
      trigger: "change",
    },
    {
      type: "email",
      message: "Format email tidak valid",
      trigger: "change",
    },
  ],
  no_telp: [
    {
      required: true,
      message: "Nomor telepon harus diisi",
      trigger: "change",
    },
    {
      type: "number",
      message: "Nomor telepon harus berupa angka",
      trigger: "change",
    },
  ],
};

const files = ref([]);

watch(profile, (to) => {
  id_role.value = to.id_role;
  nama.value = to.nama;
  email.value = to.email;
  no_telp.value = parseInt(to.no_telp);
});

const handleSubmit = () => {
  updateProfile(id, profileForm);
};

const toChangePassword = () => {
  router.push({ name: "Profile Change Password" });
};

const handleChange = (file, list) => {
  files.value = list;
};

const handleUpload = () => {
  const rawFiles = computed(() => files.value.map((f) => f.raw));

  updateImage(id, rawFiles.value[0]);
};
</script>

<style lang="scss">
.el-upload--text {
  width: 100%;
}

.el-avatar {
  > img {
    width: 100%;
  }
}
</style>
