<template>
  <Form
    :model="provinceForm"
    title="Tambah Provinsi"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama Provinsi" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import useProvinces from "@/composeable/provinces";
import useCookies from "@/composeable/cookies";
import { reactive, toRefs } from "vue-demi";

const { loading, storeProvince } = useProvinces();
const { getDecodedCookie } = useCookies();

const session = getDecodedCookie("session");

const provinceForm = reactive({
  id_user: session.id,
  nama: "",
});
const { nama } = toRefs(provinceForm);
const rules = {
  nama: [
    {
      required: true,
      message: "Nama provinsi harus diisi",
      trigger: "blur",
    },
  ],
};

const handleSubmit = () => {
  storeProvince(provinceForm);
};
</script>
