<template>
  <master-details
    :data="province"
    title="Detail Provinsi"
    :loading="loading"
    @delete="destroyProvince(id)"
  >
    <master-details-item title="nama" :value="province.nama" />
  </master-details>
</template>

<script setup>
import useProvinces from "@/composeable/provinces";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const { province, loading, getProvince, destroyProvince } = useProvinces();
const route = useRoute();
const { id } = route.params;

onMounted(getProvince(id));
</script>
