<template>
  <Form
    :model="provinceForm"
    title="Edit Provinsi"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama Provinsi" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import useProvinces from "@/composeable/provinces";
import useCookies from "@/composeable/cookies";
import { onMounted, reactive, toRefs, watch } from "vue-demi";
import { useRoute } from "vue-router";

const { province, loading, getProvince, updateProvince } = useProvinces();
const { getDecodedCookie } = useCookies();
const route = useRoute();
const { id } = route.params;

const session = getDecodedCookie("session");

onMounted(getProvince(id));

const provinceForm = reactive({
  id_user: session.id,
  nama: "",
});
const { nama } = toRefs(provinceForm);
const rules = {
  nama: [
    {
      required: true,
      message: "Nama provinsi harus diisi",
      trigger: "blur",
    },
  ],
};

watch(province, (to) => {
  nama.value = to.nama;
});

const handleSubmit = () => {
  updateProvince(id, provinceForm);
};
</script>
