<template>
  <master-table :data="provinces" title="Master Provinsi">
    <el-table-column prop="nama" label="Nama" />
  </master-table>
</template>

<script setup>
import useProvinces from "@/composeable/provinces";
import { onMounted } from "vue-demi";

const { provinces, getProvinces } = useProvinces();

onMounted(getProvinces);
</script>

<style></style>
