<template>
  <el-carousel :autoplay="false" height="139px">
    <el-carousel-item v-for="account in accounts" :key="account.id">
      <el-descriptions :column="1" border>
        <el-descriptions-item label="Atas Nama">
          {{ account.atas_nama }}
        </el-descriptions-item>
        <el-descriptions-item label="Nama Bank">
          {{ account.bank.nama }}
        </el-descriptions-item>
        <el-descriptions-item label="Nomor Rekening">
          {{ account.no_rekening }}
        </el-descriptions-item>
      </el-descriptions>
    </el-carousel-item>
  </el-carousel>
</template>

<script>
export default {
  props: {
    accounts: {
      type: Array,
      default: [],
    },
  },
};
</script>

<style></style>
