<template>
  <div class="flex space-x-10">
    <Card
      title="Total Checkout"
      :value="datasets.total_checkout"
      :icon="Goods"
    />
    <Card
      title="Total Terkonfirmasi"
      :value="datasets.total_terkonfirmasi"
      :icon="CircleCheck"
    />
    <Card title="Total Omset" :value="datasets.total_omset" :icon="Money" />
  </div>
</template>

<script setup>
import Card from "./Card.vue";
import useConvert from "@/composeable/format";
import { Goods, CircleCheck, Money } from "@element-plus/icons";
import { defineComponent } from "vue-demi";

const props = defineProps({
  datasets: {
    type: Object,
    default: () => {},
  },
});

const { toRupiah } = useConvert();
</script>

<style></style>
