<template>
  <div
    class="
      p-4
      rounded
      shadow
      flex-grow flex-1 flex
      items-center
      space-x-4
      bg-white
    "
  >
    <div
      class="
        w-10
        h-10
        bg-primary
        rounded
        shadow-lg
        flex
        items-center
        justify-center
      "
    >
      <el-icon color="white" :size="22">
        <component :is="icon" />
      </el-icon>
    </div>
    <div class="flex-grow">
      <h2 class="text-gray-400 font-semibold" :class="cardTitle">
        {{ title }}
      </h2>
      <div class="font-semibold" :class="cardBody">
        <slot name="value" />
        <vue3-autocounter
          :startAmount="0"
          :endAmount="value"
          :duration="1"
          prefix="Rp"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from "vue-demi";
import Vue3Autocounter from "vue3-autocounter";

export default {
  components: { Vue3Autocounter },
  props: {
    title: {
      type: String,
      default: "",
    },
    value: {
      type: Number,
    },
    size: {
      type: String,
      default: "default",
    },
    icon: Object,
  },
  setup(props) {
    const cardBody = computed(() => {
      return {
        "text-2xl": props.size === "default",
        "text-sm": props.size === "small",
      };
    });

    const cardTitle = computed(() => {
      return {
        "text-sm": props.size === "default",
        "text-xs": props.size === "small",
      };
    });

    return {
      cardBody,
      cardTitle,
    };
  },
};
</script>

<style></style>
