<template>
  <div class="bg-white rounded shadow p-5">
    <div class="mb-5 flex justify-between items-center">
      <h2 class="text-lg text-primary font-bold">Grafik Status Pesanan</h2>
    </div>
    <apexchart
      height="300px"
      width="100%"
      type="bar"
      :options="options"
      :series="series"
    />
  </div>
</template>

<script setup>
import { computed } from "vue-demi";

const props = defineProps({
  categories: {
    type: Array,
    default: [],
  },
  data: {
    type: Object,
    default: () => {},
  },
});

const { verifikasi, dikirim, dibatalkan, selesai } = props.data;

const options = computed(() => {
  return {
    chart: {
      type: "bar",
    },
    plotOptions: {
      bar: {
        horizontal: false,
        columnWidth: "100%",
        endingShape: "rounded",
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      show: true,
      width: 2,
      colors: ["transparent"],
    },
    xaxis: {
      categories: props.categories,
      labels: {
        show: false,
      },
    },
    yaxis: {
      labels: {
        formatter: (val) => val.toLocaleString(),
      },
    },
    fill: {
      opacity: 1,
    },
    colors: ["#F2AE10", "#2b82c9", "#F26B6B", "#2cca90"],
    tooltip: {
      x: {
        show: false,
      },
    },
  };
});

const series = computed(() => {
  return [
    {
      name: verifikasi.name,
      data: verifikasi.data ? verifikasi.data : [],
    },
    {
      name: dikirim.name,
      data: dikirim.data ? dikirim.data : [],
    },
    {
      name: dibatalkan.name,
      data: dibatalkan.data ? dibatalkan.data : [],
    },
    {
      name: selesai.name,
      data: selesai.data ? selesai.data : [],
    },
  ];
});
</script>

<style></style>
