<template>
  <div
    class="bg-white shadow rounded p-5 w-4/5 text-sm"
    v-if="Object.keys(order).length"
  >
    <h2 class="text-lg font-semibold mb-3">Data Pesanan</h2>

    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Reseller</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ order.reseller.nama }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Pembeli</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ order.pembeli.nama }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Tanggal</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ formatDate(order.created_at) }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Ekspedisi</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ order.jasa_pengiriman.nama }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Nomor Resi</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ order.no_resi }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Metode Pembayaran</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ order.metode_pembayaran.nama }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Bank</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ order.metode_pembayaran.bank.nama }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">No. Rekening</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ order.metode_pembayaran.no_rekening }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Kode Unik</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ order.kode_unik }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Ongkir</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ toRupiah(order.total_ongkos_kirim) }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Total Harga</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ toRupiah(order.total_harga) }}
      </el-col>
    </el-row>
    <el-row class="py-2">
      <el-col :span="8" class="px-2 py-1">Total Yang Harus Dibayar</el-col>
      <el-col :span="16" class="border-b px-2 py-1">
        {{ toRupiah(order.total_bayar) }}
      </el-col>
    </el-row>
  </div>
</template>

<script>
import useConvert from "@/composeable/format";
export default {
  props: {
    order: {
      type: Object,
      default: () => {},
    },
  },
  setup() {
    const { toRupiah, formatDate } = useConvert();

    return {
      toRupiah,
      formatDate,
    };
  },
};
</script>

<style lang="scss">
.order__form {
  .el-input {
    --el-input-border-radius: 0;
    .el-input__inner {
      border: none;
      border-bottom: var(--el-input-border, var(--el-border-base));
    }
  }
}
</style>
