<template>
  <div class="flex space-x-6">
    <div>
      <h3 class="text-sm font-semibold mb-1">Ekspedisi</h3>
      <el-select
        size="small"
        v-model="selectedService"
        placeholder="Ekspedisi"
        @change="onChangeServices"
        clearable
      >
        <el-option
          v-for="service in services"
          :key="service"
          :label="service"
          :value="service"
        />
      </el-select>
    </div>
    <div>
      <h3 class="text-sm font-semibold mb-1">Reseller</h3>
      <el-select
        size="small"
        v-model="selectedReseller"
        placeholder="Reseller"
        @change="onChangeResellers"
        clearable
      >
        <el-option
          v-for="reseller in resellers"
          :key="reseller"
          :label="reseller"
          :value="reseller"
        />
      </el-select>
    </div>
  </div>
</template>

<script>
import { ref } from "vue-demi";
export default {
  emits: ["changeService", "changeReseller"],
  props: {
    services: {
      type: Array,
      default: [],
    },
    resellers: {
      type: Array,
      default: [],
    },
  },
  setup(_, { emit }) {
    const selectedService = ref("");
    const selectedReseller = ref("");

    const onChangeServices = (val) => {
      emit("changeService", val);
    };

    const onChangeResellers = (val) => {
      emit("changeReseller", val);
    };

    return {
      selectedService,
      selectedReseller,
      onChangeServices,
      onChangeResellers,
    };
  },
};
</script>

<style></style>
