<template>
  <div class="bg-white shadow rounded p-5 text-sm">
    <h2 class="text-base font-semibold mb-3">{{ title }}</h2>
    <el-form
      class="mt-3"
      ref="form"
      :model="model"
      :rules="rules"
      :size="size"
      label-width="180px"
      :label-position="labelPosition"
      status-icon
      @keydown.enter.prevent="save"
    >
      <slot />
    </el-form>
  </div>
  <slot name="action">
    <div class="mt-3 flex justify-between">
      <el-button size="mini" type="danger" plain @click="$router.back">
        Kembali
      </el-button>
      <el-button size="mini" type="primary" :loading="loading" @click="save">
        Simpan
      </el-button>
    </div>
  </slot>
</template>

<script setup>
import { ref } from "vue-demi";

const props = defineProps({
  model: {
    required: true,
    type: Object,
  },
  rules: Object,
  loading: Boolean,
  title: {
    required: true,
    type: String,
  },
  size: {
    type: String,
    default: "small",
  },
  labelPosition: {
    type: String,
    default: "left",
  },
});

const emits = defineEmits(["submit"]);

const form = ref(null);

const save = () => {
  form.value.validate((valid) => {
    if (valid) {
      emits("submit");
    } else {
      return false;
    }
  });
};
</script>

<style></style>
