<template>
  <div class="w-full h-full flex items-center justify-end text-white">
    <div class="flex items-center">
      <el-avatar
        v-if="profile.gambar"
        size="medium"
        :src="profile.gambar_url"
      />
      <el-avatar
        v-else
        size="medium"
        :src="`https://ui-avatars.com/api/?name=${profile.nama}&background=random&rounded=true`"
      />

      <div role="button" class="ml-2 relative" @click="toggleMenu">
        <span class="mr-1 font-semibold">Hi, {{ profile.nama }}</span>
        <el-icon>
          <caret-bottom />
        </el-icon>

        <el-collapse-transition>
          <div
            class="
              px-4
              py-2
              absolute
              bg-white
              rounded
              top-10
              right-0
              shadow
              text-black
              w-32
              flex flex-col
              space-y-2
              items-start
              z-50
            "
            v-if="isMenuOpen"
          >
            <el-link :underline="false" @click="toProfile">
              <el-icon>
                <user />
              </el-icon>
              <span class="ml-1">Profil</span>
            </el-link>
            <el-link :underline="false">
              <el-icon>
                <back />
              </el-icon>
              <span class="ml-1" @click="logout">Keluar</span>
            </el-link>
          </div>
        </el-collapse-transition>
      </div>
    </div>
  </div>
</template>

<script setup>
import { Bell, CaretBottom, User, Back } from "@element-plus/icons";
import { ref } from "@vue/reactivity";
import { useRouter } from "vue-router";
import useAuth from "@/composeable/auth";
import useProfiles from "@/composeable/profiles";
import useCookies from "@/composeable/cookies";
import { onMounted } from "vue-demi";

const isMenuOpen = ref(false);
const router = useRouter();
const { logoutUser } = useAuth();
const { profile, getProfile } = useProfiles();
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const id = session.id;

onMounted(getProfile(id));

const toggleMenu = () => {
  isMenuOpen.value = !isMenuOpen.value;
};

const toProfile = () => {
  router.push({ name: "Profile" });
};

const logout = () => {
  logoutUser();
};
</script>

<style></style>
