<template>
  <div class="bg-white shadow rounded p-5">
    <h2 class="text-lg font-semibold mb-3">Data Log Pesanan</h2>

    <el-table :data="order.log_pesanan" class="order__table" border>
      <el-table-column label="No" type="index" align="center" />
      <el-table-column label="Status Pesanan" prop="status.nama" />
      <el-table-column
        label="Waktu"
        prop="tanggal"
        :formatter="toDateTimeTable"
      />
      <el-table-column label="Keterangan" prop="keterangan" />
    </el-table>
  </div>
</template>

<script>
import Card from "./Card.vue";
import { useRoute } from "vue-router";
import useConvert from "@/composeable/format";
export default {
  components: { Card },
  props: {
    order: {
      type: Object,
      default: () => {},
    },
  },
  setup() {
    const { toDateTimeTable } = useConvert();
    const route = useRoute();

    return {
      toDateTimeTable,
    };
  },
};
</script>

<style lang="scss">
.order__table {
  &.el-table {
    --el-table-header-background-color: var(--el-color-primary);
    --el-table-header-font-color: white;
  }
}
</style>
