<template>
  <div class="bg-white shadow rounded p-5">
    <h2 class="font-semibold mb-3">Data Log Validasi Reseller</h2>
    <el-table :data="[reseller]" class="reseller__table" border>
      <el-table-column label="No" type="index" align="center" />
      <el-table-column label="Status" prop="status" />
      <el-table-column label="Nama" prop="nama" />
      <el-table-column label="Tanggal" prop="tanggal" />
      <el-table-column label="Catatan" prop="catatan" />
    </el-table>
  </div>
</template>

<script>
export default {
  props: {
    reseller: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss">
.reseller__table {
  &.el-table {
    --el-table-header-background-color: var(--el-color-primary);
    --el-table-header-font-color: white;
  }
}
</style>
