<template>
  <div class="flex justify-center">
    <div class="bg-white shadow rounded p-5 w-4/5 text-sm">
      <h2 class="text-lg font-semibold mb-3">{{ title }}</h2>
      <div class="mt-3 flex space-x-10">
        <div v-if="showPicture" class="w-36 rounded overflow-hidden">
          <img
            role="button"
            :src="pictureSource"
            class="mt-3 w-full object-cover"
            @click="toggleImage"
          />
        </div>
        <div class="flex-grow">
          <slot />
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 flex justify-between">
    <el-button
      size="mini"
      type="danger"
      plain
      :loading="loading"
      @click="$router.back"
    >
      Kembali
    </el-button>
    <div v-if="!restrictAction.includes(idRole)">
      <el-button size="mini" type="warning" :loading="loading" @click="toEdit">
        Edit
      </el-button>
      <el-popconfirm
        title="Apakah anda yakin ingin menghapus ini?"
        icon-color="red"
        @confirm="emits('delete')"
      >
        <template #reference>
          <el-button size="mini" type="danger" :loading="loading">
            Hapus
          </el-button>
        </template>
      </el-popconfirm>
    </div>
  </div>
</template>

<script setup>
import { useRoute, useRouter } from "vue-router";
import useCookies from "@/composeable/cookies";
import { computed } from "vue-demi";
import imagePreview from "image-preview-vue";

const props = defineProps({
  data: {
    required: true,
    type: Object,
  },
  title: String,
  loading: Boolean,
  showPicture: {
    type: Boolean,
    default: false,
  },
  pictureSource: String,
});

const emits = defineEmits(["delete"]);

const { getDecodedCookie } = useCookies();

const session = getDecodedCookie("session");
const idRole = session.id_role;

const route = useRoute();
const router = useRouter();
const { id } = route.params;

const { restrictAction } = route.matched[1].meta;

const images = computed(() => {
  if (typeof props.data.gambar == "string") return [props.data.gambar_url];
  return props.data.gambar?.map((d) => {
    return d.gambar_url;
  });
});

const toggleImage = () => {
  imagePreview({
    initIndex: 0,
    images: images.value,
    onClose: () => {},
  });
};

const toEdit = () => {
  const path = `${route.matched[1].path}/edit/${id}`;
  router.push(path);
};
</script>
