<template>
  <div class="shadow bg-white rounded">
    <div class="p-4 flex justify-between">
      <h2 class="text-lg font-semibold">{{ title }}</h2>
      <div class="flex space-x-2">
        <el-input
          v-model="search"
          prefix-icon="el-icon-search"
          size="mini"
          placeholder="Cari nama..."
        />
        <el-button
          v-if="action && !restrictAction.includes(idRole)"
          size="mini"
          type="primary"
          icon="el-icon-plus"
          @click="toAdd"
        />
      </div>
    </div>
    <el-table :data="filteredData">
      <el-table-column type="index" label="No" align="center" />
      <slot />
      <el-table-column v-if="action" label="Aksi" align="center" width="80px">
        <template #default="scope">
          <el-button
            size="mini"
            type="primary"
            icon="el-icon-search"
            @click="toDetails(scope.row.id)"
          />
        </template>
      </el-table-column>
    </el-table>
    <div class="py-2">
      <el-pagination
        layout="sizes, prev, pager, next, jumper, ->, total"
        :total="data.length"
        :page-size="pageSize"
        :page-sizes="[5, 10, 25, 50]"
        @current-change="handleChange"
        @size-change="handleSize"
      ></el-pagination>
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from "vue-demi";
import { useRoute, useRouter } from "vue-router";
import useCookies from "@/composeable/cookies";

const props = defineProps({
  data: {
    required: true,
    type: Array,
  },
  title: String,
  action: {
    type: Boolean,
    default: true,
  },
});

const search = ref("");
const page = ref(1);
const pageSize = ref(10);
const route = useRoute();
const router = useRouter();
const loading = ref(false);

const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const idRole = session.id_role;
const { restrictAction } = route.matched[1].meta;

const filteredData = computed(() => {
  return props.data
    .filter((d) => {
      return d.nama.toLowerCase().includes(search.value.toLowerCase());
    })
    .slice(
      pageSize.value * page.value - pageSize.value,
      pageSize.value * page.value
    );
});

const handleChange = (val) => (page.value = val);

const handleSize = (val) => (pageSize.value = val);

const toAdd = () => {
  const r = route.matched[1].path + "/add";
  router.push(r);
};

const toDetails = (id) => {
  const r = route.matched[1].path + "/details/" + id;
  router.push(r);
};
</script>

<style></style>
