<template>
  <div class="flex py-2">
    <p class="w-36 px-2 py-1 capitalize">{{ title }}</p>
    <p class="flex-grow border-b px-2 py-1">
      <slot name="value"> {{ value }}</slot>
    </p>
  </div>
</template>

<script setup>
const props = defineProps({
  title: String,
  value: [String, Number],
});
</script>
