<template>
  <div class="bg-white rounded shadow p-5">
    <div class="mb-5 flex justify-between items-center">
      <h2 class="text-lg text-primary font-bold">Grafik Penjualan</h2>
    </div>
    <apexchart
      height="300px"
      width="100%"
      type="area"
      :options="options"
      :series="series"
    />
  </div>
</template>

<script setup>
import { computed, reactive } from "vue-demi";
import useConvert from "@/composeable/format";

const props = defineProps({
  categories: {
    type: Array,
    default: [],
  },
  data: {
    type: Object,
    default: [],
  },
});

const { toRupiah } = useConvert();

const options = computed(() => {
  return {
    xaxis: {
      type: "categories",
      categories: props.categories,
      tickAmount: 14,
    },
    yaxis: {
      labels: {
        formatter: (val) => toRupiah(val),
      },
    },
    dataLabels: {
      enabled: false,
    },
    colors: ["#F2AE10", "#28CC2D", "#7367F0"],
    stroke: {
      curve: "smooth",
    },
    fill: {
      opacity: 1,
    },
  };
});

const series = computed(() => {
  return [
    {
      name: "Total Checkout",
      data: props.data.checkouts,
    },
    {
      name: "Total Terkonfirmasi",
      data: props.data.confirmed,
    },
    {
      name: "Total Omset",
      data: props.data.omset,
    },
  ];
});
</script>

<style></style>
