<template>
  <div class="shadow bg-white rounded">
    <div class="p-4 flex justify-between">
      <h2 class="text-lg font-semibold">{{ title }}</h2>
      <div class="flex space-x-2">
        <el-select
          v-if="type == 'delivery'"
          v-model="selectedReseller"
          size="mini"
          placeholder="Reseller"
          clearable
        >
          <el-option
            v-for="res in resellers"
            :key="res"
            :value="res"
            :label="res"
          />
        </el-select>
        <el-select
          v-if="type == 'delivery'"
          v-model="selectedService"
          size="mini"
          placeholder="Ekspedisi"
          clearable
        >
          <el-option
            v-for="ser in services"
            :key="ser"
            :value="ser"
            :label="ser"
          />
        </el-select>
        <el-input
          v-model="search"
          prefix-icon="el-icon-search"
          size="mini"
          placeholder="Cari nama..."
        />
        <el-button
          v-if="type == 'delivery'"
          type="primary"
          size="mini"
          plain
          @click="print"
        >
          Print
          <span v-if="rowsCount">({{ rowsCount }})</span>
        </el-button>
      </div>
    </div>
    <el-table
      :data="pagedOrders"
      :default-sort="{ prop: 'created_at', order: 'descending' }"
      @selection-change="handleSelect"
    >
      <el-table-column v-if="selection" type="selection" align="center" />
      <el-table-column type="index" label="No" align="center" />
      <el-table-column prop="no_order" label="Order" sortable />
      <el-table-column
        v-if="date"
        prop="created_at"
        label="Tanggal"
        sortable
        :formatter="toDateTable"
      />
      <el-table-column prop="reseller.nama" label="Reseller" sortable />
      <el-table-column
        v-if="buyer"
        prop="pembeli.nama"
        label="Pembeli"
        sortable
      />
      <el-table-column
        v-if="service"
        prop="jasa_pengiriman.nama"
        label="Ekspedisi"
        sortable
      />
      <el-table-column
        v-if="price"
        prop="total_bayar"
        label="Total Harga"
        :formatter="toRupiahTable"
        sortable
      />
      <el-table-column v-if="status" label="Status" sortable>
        <template #default="scope">
          <el-tag size="small" :type="formatTag(scope.row.status.kode_status)">
            {{ scope.row.status.nama }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column
        v-if="bank"
        prop="reseller.rekening[0].bank.nama"
        label="Bank"
        sortable
      />

      <el-table-column
        v-if="bank"
        prop="reseller.rekening[0].no_rekening"
        label="No. Rekening"
        sortable
      />
      <el-table-column
        label="Aksi"
        :width="bank ? '200px' : '70px'"
        align="center"
      >
        <template #default="scope">
          <el-tooltip v-if="bank" content="Rekening Reseller" placement="top">
            <el-button
              size="mini"
              icon="el-icon-more"
              type="warning"
              plain
              @click="toggleDialog(scope.row.reseller.rekening)"
            />
          </el-tooltip>
          <el-tooltip v-if="bank" content="Ingatkan Reseller" placement="top">
            <el-button
              size="mini"
              icon="el-icon-bell"
              type="warning"
              :disabled="scope.row.reseller.rekening.length > 0"
            />
          </el-tooltip>
          <el-button
            size="mini"
            type="primary"
            icon="el-icon-search"
            @click="toDetails(scope.row.id)"
          />
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="py-3 px-2"
      layout="sizes, prev, pager, next, jumper, ->, total"
      :total="data.length"
      :page-size="pageSize"
      :page-sizes="[5, 10, 25, 50]"
      @current-change="handleChange"
      @size-change="handleSize"
    >
    </el-pagination>
  </div>
  <el-dialog
    :model-value="dialog"
    @close="closeDialog"
    width="30%"
    title="Daftar Rekening Reseller"
  >
    <account-carousel :accounts="accounts" />
  </el-dialog>
</template>

<script setup>
import { useRoute, useRouter } from "vue-router";
import useConvert from "@/composeable/format";
import { MoreFilled, Loading } from "@element-plus/icons";
import { computed, ref } from "vue-demi";
import AccountCarousel from "./AccountCarousel.vue";

const emits = defineEmits(["onChange"]);
const props = defineProps({
  data: {
    type: Array,
    default: [],
  },
  type: String,
  title: String,
  buyer: {
    type: Boolean,
    default: true,
  },
  price: {
    type: Boolean,
    default: true,
  },
  status: {
    type: Boolean,
    default: false,
  },
  selection: {
    type: Boolean,
    default: false,
  },
  date: {
    type: Boolean,
    default: true,
  },
  service: {
    type: Boolean,
    default: true,
  },
  bank: {
    type: Boolean,
    default: false,
  },
});

const { toRupiahTable, toDateTable, formatTag } = useConvert();
const router = useRouter();
const route = useRoute();
const dialog = ref(false);
const accounts = ref([]);
const page = ref(1);
const pageSize = ref(10);
const search = ref("");
const selectedService = ref("");
const selectedReseller = ref("");
const selectedRows = ref([]);
const rowsCount = ref(0);

const filteredOrders = computed(() => {
  return props.data?.filter((o) => {
    return (
      o.reseller.nama.toLowerCase().includes(search.value.toLowerCase()) &&
      o.jasa_pengiriman.nama.includes(selectedService.value) &&
      o.reseller.nama.includes(selectedReseller.value)
    );
  });
});

const pagedOrders = computed(() => {
  return filteredOrders.value.slice(
    pageSize.value * page.value - pageSize.value,
    pageSize.value * page.value
  );
});

// Temporary Map Source
const services = computed(() => {
  return [...new Set(props.data.map((o) => o.jasa_pengiriman.nama))];
});

const resellers = computed(() => {
  return [...new Set(props.data.map((o) => o.reseller.nama))];
});

const toDetails = (id) => {
  router.push({
    name: route.matched[1].children[1].name,
    params: { id },
  });
};

const handleSelect = (selection) => {
  rowsCount.value = selection.length;
  selectedRows.value = selection;
};

const toggleDialog = (accountList) => {
  dialog.value = true;
  accounts.value = accountList;
};

const closeDialog = () => {
  dialog.value = false;
};

const handleChange = (val) => {
  page.value = val;
};

const handleSize = (val) => {
  pageSize.value = val;
};

const print = () => {
  localStorage.setItem("printList", JSON.stringify(selectedRows.value));
  const route = router.resolve({
    name: "Print",
  });

  window.open(route.href);
};
</script>

<style></style>
