<template>
  <div class="border-2 border-black text-xs">
    <div class="p-4 border-b border-black border-dashed flex justify-between">
      <img src="@/assets/logo-horizontal.png" alt="Logo" class="w-24" />
      <div>
        <p>Total Harga :</p>
        <p class="mt-1 font-bold">{{ toRupiah(print.total_bayar) }}</p>
      </div>
    </div>
    <div class="p-4 border-b border-black border-dashed">
      <el-row>
        <el-col :span="8">
          <div>
            <p>Berat</p>
            <p class="font-bold">{{ print.berat }} Kg</p>
          </div>
          <div class="mt-1">
            <p>Penerima :</p>
            <p class="font-bold">{{ print.penerima.nama }}</p>
            <p class="mt-1">{{ censorString(print.penerima.no_telp) }}</p>
          </div>
        </el-col>
        <el-col :span="8">
          <div>
            <p>Ongkir</p>
            <p class="font-bold">{{ toRupiah(print.ongkir) }}</p>
          </div>
          <div class="mt-1">
            <p>Pengirim :</p>
            <p class="font-bold">{{ print.pengirim.nama }}</p>
            <p class="mt-1">{{ censorString(print.pengirim.no_telp) }}</p>
          </div>
        </el-col>
        <el-col :span="8">
          <div>
            <p>Nomor Pesanan</p>
            <p class="font-bold">{{ print.nomor_pesanan }}</p>
          </div>
        </el-col>
      </el-row>
      <div class="mt-2">
        <p>{{ print.penerima.alamat }}</p>
        <p>{{ print.penerima.kode_pos }}</p>
      </div>
    </div>
    <div class="p-4 text-center font-bold tracking-widest">
      <p>Terima Kasih telah berbelanja di Mulia Grosir</p>
      <p>Kami tunggu pesanan berikutnya</p>
    </div>
  </div>
</template>

<script setup>
import useConverts from "@/composeable/format";

const props = defineProps({
  print: {
    type: Object,
    default: () => {},
  },
});

const { censorString, toRupiah } = useConverts();
censorString("67123y81u92");
</script>

<style></style>
