<template>
  <h2 class="text-lg font-semibold mb-3">Data Produk</h2>
  <el-table
    :data="order.pesanan_detail"
    class="shadow"
    @selection-change="handleSelect"
  >
    <el-table-column type="index" label="No" align="center" />
    <el-table-column prop="produk.nama" label="Barang" width="300px" />
    <el-table-column
      v-if="quantity"
      prop="kuantitas"
      label="Qty"
      align="center"
    />
    <el-table-column
      v-if="stock"
      prop="produk.stok_tersedia"
      label="Stok"
      align="center"
    />
    <el-table-column
      v-if="price"
      prop="harga_satuan"
      label="Harga"
      :formatter="toRupiahTable"
    />
    <el-table-column v-if="total" label="Total" :formatter="toRupiahTable">
      <template #default="scope">
        {{ sumTotal(scope.row.kuantitas, scope.row.harga_satuan) }}
      </template>
    </el-table-column>
    <el-table-column type="selection" />
  </el-table>
</template>

<script>
import useConvert from "@/composeable/format";
export default {
  emits: ["countSelect"],
  props: {
    order: {
      type: Object,
      default: () => {},
    },
    price: {
      type: Boolean,
      default: false,
    },
    quantity: {
      type: Boolean,
      default: false,
    },
    total: {
      type: Boolean,
      default: false,
    },
    stock: {
      type: Boolean,
      default: false,
    },
    action: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const { toRupiahTable, toRupiah } = useConvert();

    const handleSelect = (selection, row) => {
      emit("countSelect", selection.length);
    };

    const sumTotal = (qty, price) => toRupiah(qty * price);

    return {
      handleSelect,
      toRupiahTable,
      sumTotal,
    };
  },
};
</script>

<style></style>
