<template>
  <div class="bg-white shadow rounded p-5 w-3/5">
    <h2 class="font-semibold mb-3">Data Reseller</h2>
    <el-form
      :model="reseller"
      v-if="Object.keys(reseller).length"
      class="reseller__form"
      size="small"
      label-position="left"
      label-width="200px"
    >
      <el-form-item label="Nama">
        <el-input v-model="reseller.nama" readonly />
      </el-form-item>
      <el-form-item label="Email">
        <el-input v-model="reseller.email" readonly />
      </el-form-item>
      <el-form-item label="Telepon">
        <el-input v-model="reseller.no_telp" readonly />
      </el-form-item>
      <el-form-item label="Alamat">
        <el-input v-model="reseller.alamat" readonly />
      </el-form-item>
      <el-form-item label="Tanggal">
        <el-input v-model="reseller.created_at" readonly />
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  props: {
    reseller: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss">
.reseller__form {
  .el-input {
    --el-input-border-radius: 0;
    .el-input__inner {
      border: none;
      border-bottom: var(--el-input-border, var(--el-border-base));
    }
  }
}
</style>
