<template>
  <div class="p-6 text-center font-bold text-gray-600 text-lg">
    Mulia Grosir
  </div>
  <el-menu class="text-black" :default-active="activeRoute" :router="true">
    <el-scrollbar height="80vh">
      <el-menu-item-group title="Dashboard">
        <el-menu-item index="Dashboard" :route="{ name: 'Dashboard' }">
          <el-icon>
            <data-line />
          </el-icon>
          <span class="ml-2">Dashboard</span>
        </el-menu-item>
      </el-menu-item-group>
      <el-menu-item-group title="Data Master">
        <div v-for="master in masters" :key="master.name">
          <el-menu-item
            v-if="!master.meta.restrictAccess.includes(idRole)"
            :index="master.name"
            :route="{ name: master.name }"
          >
            <el-icon>
              <component :is="master.meta.icon" />
            </el-icon>
            <span class="ml-2">{{ master.name }}</span>
          </el-menu-item>
        </div>
      </el-menu-item-group>
      <el-menu-item-group title="Transaksi">
        <div v-for="transaction in transactions" :key="transaction.name">
          <el-menu-item
            v-if="!transaction.meta.restrictAccess.includes(idRole)"
            :index="transaction.name"
            :route="{ name: transaction.name }"
          >
            <el-icon>
              <component :is="transaction.meta.icon" />
            </el-icon>
            <span class="ml-2">{{ transaction.name }}</span>
          </el-menu-item>
        </div>
      </el-menu-item-group>
    </el-scrollbar>
  </el-menu>
</template>

<script setup>
import {
  Box,
  Connection,
  Document,
  CircleCheck,
  DataLine,
  Files,
  RefreshLeft,
  Money,
  User,
  Fries,
  SoldOut,
  Collection,
  Grid,
  Cherry,
  CreditCard,
  Wallet,
  Ship,
  Finished,
  Switch as SwitchIcon,
  OfficeBuilding,
  School,
  MagicStick,
} from "@element-plus/icons";
import { computed, ref } from "@vue/reactivity";
import { useRoute, useRouter } from "vue-router";
import { onMounted, watch } from "@vue/runtime-core";
import useCookies from "@/composeable/cookies";

const activeRoute = ref(null);
const route = useRoute();
const router = useRouter();
const { getDecodedCookie } = useCookies();

const session = getDecodedCookie("session");
const idRole = session.id_role;

const menus = router.options.routes[0].children;

const masters = computed(() => {
  return menus.filter((m) => m.meta.group == "Master");
});

const transactions = computed(() => {
  return menus.filter((m) => m.meta.group == "Transaction");
});

onMounted(() => {
  activeRoute.value = route?.matched[1]?.name;
});

watch(route, (current) => {
  activeRoute.value = current?.matched[1]?.name;
});
</script>
