<template>
  <div class="bg-white rounded shadow p-5 flex-1">
    <div class="mb-5 flex justify-between items-center">
      <h2 class="text-lg text-primary font-bold">{{ title }}</h2>
    </div>
    <el-table :data="data" class="top__table" border>
      <el-table-column type="index" align="center" label="No" />
      <el-table-column :label="nameLabel" prop="nama" />

      <el-table-column
        prop="jumlah"
        label="Jumlah"
        align="center"
        width="100px"
        :formatter="formatSum"
      />
    </el-table>
  </div>
</template>

<script setup>
import { ref } from "vue-demi";
import useConvert from "@/composeable/format";

const props = defineProps({
  data: {
    type: Array,
    default: [],
  },
  title: {
    type: String,
    default: "",
  },
  nameLabel: {
    type: String,
    default: "",
  },
  currency: {
    type: Boolean,
    default: false,
  },
});

const { toRupiah } = useConvert();

const formatSum = (row, column, cellValue) => {
  if (props.currency) return toRupiah(cellValue);

  return cellValue.toLocaleString();
};
</script>

<style lang="scss">
.el-table {
  &.top__table {
    --el-table-header-background-color: var(--el-color-primary);
    --el-table-header-font-color: white;
  }
}
</style>
