<template>
  <master-details
    :data="payment"
    title="Detail Metode Pembayaran"
    :loading="loading"
    @delete="destroyPayment(id)"
  >
    <master-details-item title="nama" :value="payment.nama" />
    <master-details-item title="Bank" :value="payment.bank?.nama" />
    <master-details-item title="Nomor Rekening" :value="payment.no_rekening" />
    <master-details-item title="keterangan" :value="payment.keterangan" />
  </master-details>
</template>

<script setup>
import usePayments from "@/composeable/payments";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const { payment, loading, getPayment, destroyPayment } = usePayments();
const route = useRoute();
const { id } = route.params;

onMounted(getPayment(id));
</script>
