<template>
  <Form
    :model="paymentForm"
    title="Edit Metode Pembayaran"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Nama Metode" prop="nama">
      <el-input v-model="nama" placeholder="Nama metode transfer" clearable />
    </el-form-item>
    <el-form-item label="Nama Bank" prop="id_bank">
      <el-select
        v-model="id_bank"
        class="w-full"
        placeholder="Pilih Bank"
        clearable
      >
        <el-option
          v-for="bank in banks"
          :key="bank.id"
          :label="bank.nama"
          :value="bank.id"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Nomor Rekening" prop="no_rekening">
      <el-input
        v-model.number="no_rekening"
        placeholder="Nomor rekening"
        clearable
      />
    </el-form-item>
    <el-form-item label="Keterangan">
      <el-input
        v-model="keterangan"
        placeholder="Keterangan"
        clearable
      /> </el-form-item
  ></Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import { computed, onMounted, reactive, toRefs, watch } from "vue-demi";
import useCookies from "@/composeable/cookies";
import usePayments from "@/composeable/payments";
import useBanks from "@/composeable/banks";
import { useRoute } from "vue-router";

const { getDecodedCookie } = useCookies();
const { payment, loading, getPayment, updatePayment } = usePayments();
const { banks, getBanks } = useBanks();
const route = useRoute();
const { id } = route.params;

const session = getDecodedCookie("session");

onMounted(() => {
  getBanks();
  getPayment(id);
});

const paymentForm = reactive({
  id_user: session.id,
  id_bank: null,
  nama: "",
  no_rekening: "",
  keterangan: "",
});
const { id_bank, nama, no_rekening, keterangan } = toRefs(paymentForm);
const rules = {
  id_bank: [
    {
      required: true,
      message: "Nama bank harus dipilih",
      trigger: "blur",
    },
  ],
  nama: [
    {
      required: true,
      message: "Nama transfer harus diisi",
      trigger: "blur",
    },
  ],
  no_rekening: [
    {
      required: true,
      message: "Nomor rekening harus diisi",
      trigger: "blur",
    },
    {
      type: "number",
      message: "Nomor rekening harus berupa angka",
      trigger: "blur",
    },
  ],
};

watch(payment, (to) => {
  id_bank.value = to.bank.id;
  nama.value = to.nama;
  no_rekening.value = parseInt(to.no_rekening);
  keterangan.value = to.keterangan;
});

const handleSubmit = () => {
  updatePayment(id, paymentForm);
};
</script>
