<template>
  <master-table :data="payments" title="Master Metode Pembayaran">
    <el-table-column prop="nama" label="Nama" />
    <el-table-column prop="bank.nama" label="Bank" />
    <el-table-column prop="no_rekening" label="Nomor Rekening" />
    <el-table-column prop="keterangan" label="Keterangan" />
  </master-table>
</template>

<script setup>
import usePayments from "@/composeable/payments";
import { onMounted } from "vue-demi";

const { payments, getPayments } = usePayments();

onMounted(getPayments);
</script>

<style></style>
