<template>
  <div class="flex justify-center">
    <detail-cards :order="order" />
  </div>
  <div class="mt-6">
    <product-table
      :order="order"
      :price="true"
      :quantity="true"
      :total="true"
    />
  </div>
  <div class="mt-6">
    <log-order :order="order" />
  </div>
  <div class="mt-5 flex justify-between items-center">
    <el-button size="small" type="danger" plain @click="$router.back">
      Kembali
    </el-button>
    <div>
      <el-button size="small" type="warning" @click="togglePayment">
        Lihat Pembayaran
      </el-button>
      <el-button
        v-if="idRole == 4 || idRole == 2"
        size="small"
        type="danger"
        @click="cancelDialog = true"
      >
        Tolak
      </el-button>
      <el-button
        v-if="idRole == 4 || idRole == 2"
        size="small"
        type="primary"
        @click="confirmOrder"
      >
        Konfirmasi
      </el-button>
    </div>
  </div>

  <el-dialog
    :model-value="cancelDialog"
    @close="cancelDialog = false"
    width="25%"
    top="25vh"
  >
    <el-input
      type="textarea"
      v-model="desc"
      placeholder="Pesan pembatalan (optional)"
    />
    <template #footer>
      <div class="justify-between flex">
        <el-button size="mini" type="primary" plain @click="closeCancel">
          Tutup
        </el-button>
        <el-button size="mini" type="danger" @click="cancelOrder">
          Tolak Pesanan
        </el-button>
      </div>
    </template>
  </el-dialog>
</template>

<script setup>
import useOrders from "@/composeable/orders";
import { onMounted, ref } from "vue-demi";
import { useRoute } from "vue-router";
import DetailCards from "@/components/DetailCards.vue";
import ProductTable from "@/components/ProductTable.vue";
import LogOrder from "@/components/LogOrder.vue";
import imagePreview from "image-preview-vue";
import useCookies from "@/composeable/cookies";

const { order, getOrder, updateStatus } = useOrders();
const route = useRoute();
const cancelDialog = ref(false);
const desc = ref("");
const { id } = route.params;
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const idRole = session.id_role;

onMounted(() => {
  getOrder(route.params.id);
});

const togglePayment = () => {
  imagePreview({
    initIndex: 0,
    images: [order.value.bukti_pembayaran_url],
    onClose: () => {},
  });
};

const closeCancel = () => {
  cancelDialog.value = false;
};

const cancelOrder = () => {
  cancelDialog.value = false;
  const payload = {
    kode_status: 22,
    keterangan: desc.value,
  };
  updateStatus(
    id,
    payload,
    "Pembayaran tidak valid. Pesanan dibatalkan",
    "warning"
  );
};

const confirmOrder = () => {
  const payload = {
    kode_status: 30,
    keterangan: desc.value,
  };
  updateStatus(id, payload, "Pembayaran diverifikasi");
};
</script>

<style></style>
