<template>
  <orders-table :data="orders" title="Verifikasi Pembayaran" />
</template>

<script setup>
import { onMounted } from "vue-demi";
import useOrders from "@/composeable/orders";
import OrdersTable from "@/components/OrdersTable.vue";
const { orders, getOrders } = useOrders();

onMounted(() => getOrders(21));
</script>

<style></style>
