<template>
  <Form
    :model="userForm"
    title="Tambah User"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Role" prop="id_role">
      <el-select class="w-full" v-model="id_role" clearable>
        <el-option
          v-for="role in roles"
          :key="role.value"
          :value="role.id"
          :label="role.nama"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Nama" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
    <el-form-item label="Email" prop="email">
      <el-input v-model="email" clearable />
    </el-form-item>
    <el-form-item label="Nomor Telepon" prop="no_telp">
      <el-input v-model.number="no_telp" clearable />
    </el-form-item>
    <el-form-item label="Password" prop="password">
      <el-input v-model="password" clearable show-password />
    </el-form-item>
    <el-form-item label="Konfirmasi Password" prop="konfirmasi_password">
      <el-input v-model="konfirmasi_password" clearable show-password />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import useUsers from "@/composeable/users";
import useCookies from "@/composeable/cookies";
import useRoles from "@/composeable/roles";
import { onMounted, reactive, toRefs } from "vue-demi";

const { loading, storeUser } = useUsers();
const { roles, getRoles } = useRoles();
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");

onMounted(getRoles);

const userForm = reactive({
  id_user: session.id,
  id_role: null,
  nama: "",
  email: "",
  no_telp: "",
  password: "",
  konfirmasi_password: "",
});
const { id_role, nama, email, no_telp, password, konfirmasi_password } =
  toRefs(userForm);

const validatePassword = (rule, value, callback) => {
  if (value !== password.value) {
    callback(new Error("Password tidak sama"));
  } else {
    callback();
  }
};

const rules = {
  id_role: [
    {
      required: true,
      message: "Role user harus diisi",
      trigger: "blur",
    },
  ],
  nama: [
    {
      required: true,
      message: "Nama user harus diisi.",
      trigger: "blur",
    },
  ],
  email: [
    {
      type: "email",
      message: "Email tidak valid",
      trigger: "blur",
    },
    {
      required: true,
      message: "Email harus diisi.",
      trigger: "blur",
    },
  ],
  no_telp: [
    {
      required: true,
      message: "Nomor telepon harus diisi.",
      trigger: "blur",
    },
    {
      type: "number",
      message: "Nomor telepon harus berupa angka",
      trigger: "blur",
    },
  ],
  password: [
    {
      required: true,
      message: "Password harus diisi.",
      trigger: "blur",
    },
  ],
  konfirmasi_password: [
    {
      required: true,
      message: "Konfirmasi password harus diisi.",
      trigger: "blur",
    },
    {
      validator: validatePassword,
      trigger: "blur",
    },
  ],
};

const handleSubmit = () => {
  storeUser(userForm);
};
</script>
