<template>
  <master-details
    :data="user"
    title="Detail User"
    :loading="loading"
    @delete="destroyUser(id)"
  >
    <master-details-item title="nama" :value="user.nama" />
    <master-details-item title="role" :value="user.role?.nama" />
    <master-details-item title="email" :value="user.email" />
    <master-details-item title="Nomor Telepon" :value="user.no_telp" />
  </master-details>
</template>

<script setup>
import useUsers from "@/composeable/users";
import { onMounted } from "vue-demi";
import { useRoute } from "vue-router";

const { user, loading, getUser, destroyUser } = useUsers();
const route = useRoute();
const { id } = route.params;

onMounted(getUser(id));
</script>
