<template>
  <Form
    :model="userForm"
    title="Edit User"
    :rules="rules"
    :loading="loading"
    @submit="handleSubmit"
  >
    <el-form-item label="Role" prop="id_role">
      <el-select class="w-full" v-model="id_role" clearable>
        <el-option
          v-for="role in roles"
          :key="role.value"
          :value="role.id"
          :label="role.nama"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Nama" prop="nama">
      <el-input v-model="nama" clearable />
    </el-form-item>
    <el-form-item label="Email" prop="email">
      <el-input v-model="email" clearable />
    </el-form-item>
    <el-form-item label="Nomor Telepon" prop="no_telp">
      <el-input v-model.number="no_telp" clearable />
    </el-form-item>
  </Form>
</template>

<script setup>
import Form from "@/components/Form.vue";
import useUsers from "@/composeable/users";
import useCookies from "@/composeable/cookies";
import useRoles from "@/composeable/roles";
import { onMounted, reactive, toRefs, watch } from "vue-demi";
import { useRoute } from "vue-router";

const { user, loading, getUser, updateUser } = useUsers();
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const { roles, getRoles } = useRoles();
const route = useRoute();
const { id } = route.params;

onMounted(() => {
  getUser(id);
  getRoles();
});

const userForm = reactive({
  id_user: session.id,
  id_role: null,
  nama: "",
  email: "",
  no_telp: "",
});
const { id_role, nama, email, no_telp } = toRefs(userForm);

const rules = {
  id_role: [
    {
      required: true,
      message: "Role user harus diisi",
      trigger: "blur",
    },
  ],
  nama: [
    {
      required: true,
      message: "Nama user harus diisi.",
      trigger: "blur",
    },
  ],
  email: [
    {
      type: "email",
      message: "Email tidak valid",
      trigger: "blur",
    },
    {
      required: true,
      message: "Email harus diisi.",
      trigger: "blur",
    },
  ],
  no_telp: [
    {
      required: true,
      message: "Nomor telepon harus diisi.",
      trigger: "blur",
    },
    {
      type: "number",
      message: "Nomor telepon harus berupa angka",
      trigger: "blur",
    },
  ],
};

watch(user, (to) => {
  id_role.value = to.id_role;
  nama.value = to.nama;
  email.value = to.email;
  no_telp.value = parseInt(to.no_telp);
});

const handleSubmit = () => {
  updateUser(id, userForm);
};
</script>
