<template>
  <master-table :data="users" title="Master User">
    <el-table-column prop="nama" label="Nama" />
    <el-table-column prop="role.nama" label="Role" />
    <el-table-column prop="email" label="Email" />
    <el-table-column prop="no_telp" label="Nomor Telepon" />
  </master-table>
</template>

<script setup>
import useUsers from "@/composeable/users";
import { onMounted } from "vue-demi";

const { users, getUsers } = useUsers();

onMounted(getUsers);
</script>

<style></style>
