<template>
  <div class="flex justify-center">
    <reseller-card :reseller="reseller" />
  </div>
  <div class="mt-5 flex justify-between">
    <el-button size="small" type="danger" plain @click="$router.back">
      Kembali
    </el-button>
    <el-button
      v-if="idRole == 4 || idRole == 2"
      size="small"
      type="primary"
      @click="confirm"
      :loading="loading"
    >
      Konfirmasi
    </el-button>
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue-demi";
import useReseller from "@/composeable/resellers";
import resellerCard from "@/components/ResellerCard.vue";
import { useRoute } from "vue-router";
import LogReseller from "@/components/LogReseller.vue";
import useCookies from "@/composeable/cookies";

const { reseller, loading, getReseller, verifyReseller } = useReseller();
const route = useRoute();
const { id } = route.params;
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const idRole = session.id_role;

onMounted(() => getReseller(id));

const confirm = () => {
  verifyReseller(id);
};
</script>

<style></style>
