<template>
  <div class="shadow bg-white rounded">
    <div class="p-4 flex justify-between">
      <h2 class="text-lg font-semibold">Validasi Reseller</h2>
      <div class="flex space-x-2">
        <el-input
          v-model="search"
          prefix-icon="el-icon-search"
          size="mini"
          placeholder="Cari nama..."
        />
      </div>
    </div>
    <el-table :data="filteredResellers" class="mt-2 shadow">
      <el-table-column type="index" label="No" align="center" />
      <el-table-column prop="nama" label="Nama" />
      <el-table-column prop="email" label="Email" />
      <el-table-column prop="no_telp" label="Telepon" />
      <el-table-column prop="alamat" label="Alamat" />
      <el-table-column label="Aksi" width="100px" align="center">
        <template #default="scope">
          <el-button
            size="mini"
            type="primary"
            icon="el-icon-search"
            @click="toDetails(scope.row.id)"
          />
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script setup>
import { computed, onMounted, ref } from "vue-demi";
import useReseller from "@/composeable/resellers";
import { useRouter } from "vue-router";
import useCookies from "@/composeable/cookies";
const { getDecodedCookie } = useCookies();
const session = getDecodedCookie("session");
const idRole = session.id_role;

const { resellers, getResellers } = useReseller();
const router = useRouter();
const search = ref("");

onMounted(() => getResellers(2));

const filteredResellers = computed(() => {
  return resellers.value.filter((r) => {
    return r.nama.toLowerCase().includes(search.value.toLowerCase());
  });
});

const toDetails = (id) => {
  router.push({ name: "Validasi Reseller Details", params: { id: id } });
};
</script>

<style></style>
