<template>
  <el-config-provider :locale="locale">
    <router-view />
  </el-config-provider>
</template>

<script setup>
import id from "element-plus/es/locale/lang/id";

const locale = id;
</script>

<style></style>
