<template>
  <master-table :data="products" title="Stok" :action="false">
    <el-table-column prop="nama" label="Nama Produk" />
    <el-table-column
      prop="stok_dipesan"
      label="Stok Dipesan"
      align="center"
      width="150px"
    />
    <el-table-column
      prop="stok_tersedia"
      label="Stok Tersedia"
      align="center"
      width="150px"
    />
    <el-table-column
      prop="total_terjual"
      label="Total Terjual"
      align="center"
      width="150px"
    />
  </master-table>
</template>

<script setup>
import { onMounted } from "vue-demi";
import useProducts from "@/composeable/products";

const { products, getProducts } = useProducts();

onMounted(getProducts);
</script>

<style></style>
